<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/providers">Proveedores</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar / Editar</li>
  </ol>
</nav>

<center>
<div class="card card-body bg-white col-md-6">
<h2 class="text-muted">Proveedores - Agregar / Editar</h2>
<hr>
<%= form_with(model: provider, local: true) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> 
      prohibited this provider from being saved:
      </h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table class="table table-striped table-hover">
 <thead class="bg-red text-white">
  <th>Descripcion</th> <th>Estado</th>

  </thead>
  <tbody>
  <tr>
  <td>
      <%= form.text_field :description, class:"form-control", placeholder:"Nombre de los suplidores" %>

  </td>

    <td>
   <%= form.select :status, [["Activa","1"],["Inactiva","2"]], class:"form-control" %>

  </td>
  </tr>
  </tbody>
  </table>
  <div class="actions">
       <%= form.submit "Grabar", class:"btn btn-success" %>
    <%= link_to 'Cancelar', providers_path, class:"btn btn-danger" %>

  </div>
<% end %>

</div>
</center>
