<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @provider.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @provider.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @provider.status %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
