<style>
.lateral_iz{
 position:fixed;
 width:50px;
 height:110%;
 top:0;
 background-color:#0a0a0a;   
}

.row_min_menu
{
    width:40px;
    height:40px;
    background-color:white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin:1px;
    cursor:pointer;
    color:#005873;
}

.row_min_menu i{
    margin-left:11px;
    margin-top:12px;
}

.row_min_menu:hover{
    color:white;
    background-color:#005873;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 2px 5px -2px rgba(255,255,255,1);
    box-shadow: 0px 2px 5px -2px rgba(255,255,255,1);
}

</style>

<div class="lateral_iz">
<br><br><br><br><br><br><br><br>
<div class="row_min_menu" data-toggle="tooltip" title="Puntos de Ventas" style="background-color:#313633; color:yellow;">
<i class=" fa fa-laptop"></i>
</div><br><br>

<div class="row_min_menu" data-toggle="tooltip" title="Panel de Control" style="background-color:#9c3b03; color:white;">
<i class=" fa fa-solar-panel"></i>
</div><br><br>

<div class="row_min_menu" data-toggle="tooltip" title="Reporte de Ventas" style="background-color:#039c91; color:white;">
<i class=" fa fa-chart-bar"></i>
</div><br><br>

<div class="row_min_menu" data-toggle="tooltip" title="Cobros" style="color:white; background-color:#008f34;">
<i class=" fa fa-hand-holding-usd"></i>
</div><br><br>

<div class="row_min_menu" data-toggle="tooltip" title="Logs">
<i class=" fa fa-eye"></i>
</div><br><br>

<div class="row_min_menu" data-toggle="tooltip" title="Compras" style="background-color:#a10040; color:white;">
<i class=" fa fa-cart-arrow-down"></i>
</div><br><br>


<div class="row_min_menu">
<i class=" fa fa-laptop"></i>
</div><br><br>


</div>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>