    <style>
    .bg_h
    {

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
      background: #627d4d; /* Old browsers */
      background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

    }

    .bg_h2
    {
            background-color: #191B1C !important;
    }

    .bg_h3{
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
      background: #2c539e; /* Old browsers */
      background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

    }
    </style>
    
    <!-- navbar-->
    <header class="header bg_h2">
      <nav class="navbar navbar-expand-lg px-4 py-2  shadow">
        <% if user_signed_in? %>
            <%= image_tag("aura4.svg", style:"width:250px; position:absolute;  left:10;") %>
        <% else %>
            <%= image_tag("aura4.svg", style:"width:350px; margin-left:30px;  margin-right:60px;position:absolute;  ") %>

        <% end %>
      <a href="/" class="navbar-brand font-weight-bold text-uppercase text-base">
        

      </a>
      <% if current_user.level == 1%>
      <input type="hidden" value="<%=current_user.id %>" id="actual_user_log">
       <% elsif current_user.level == 4 %>
       <input type="hidden" value="<%=current_user.po_id %>" id="actual_user_log">
      <% end %>

        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
          <li class="nav-item">
            <form id="searchForm" class="ml-auto d-none d-lg-block">
              <div class="form-group position-relative mb-0">
                <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"></button>
                <input type="search" name="q" placeholder="Search ..." class="form-control form-control-sm border-0 no-shadow pl-4">
              </div>
            </form>
          </li>
          <li class="nav-item dropdown mr-3" ><a id="notifications" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-gray-400 px-1" ><i class="fa fa-bell" id="alert_p" style="z-index:2 !important;"></i>
         <%
         cuenta = 0
         shows = []
         if current_user.level == 1
           cuenta = Notification.where(user_id: current_user.id).count
           shows = Notification.where(user_id: current_user.id).order("id DESC").limit(10)
         elsif current_user.level == 4
           cuenta = Notification.where(user_id: current_user.po_id).count
           shows = Notification.where(user_id: current_user.po_id).order("id DESC").limit(10)
         end
         %>
          <% if cuenta < 1 %>
          <span class="notification-icon" id="noti_indicador"></span>
          <% else %>
                    <span class="notification-icon bg-red" id="noti_indicador"></span>

          <% end %>
          </a>
            <div aria-labelledby="notifications" class="dropdown-menu">
            
       
                <% shows.each do |notification|
                fecha = notification.created_at.to_s.split(" ")
                
                %>
                   <a href="/notify/show/<%=notification.id%>" class="dropdown-item">
                <div class="d-flex align-items-center">

                  <% if notification.type_n == "aproximidad" %>

                  <div class="icon icon-sm bg-primary text-white"><i class="fa fa-eye"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> ha detectado una aproximidad<br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>

                  <% elsif notification.type_n == "apagado"  %>
                     <div class="icon icon-sm bg-red text-white"><i class="fa fa-power-off"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> ha sido apagado<br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>

                  <% elsif notification.type_n == "encendido"  %>
                  <div class="icon icon-sm  text-white" style="background-color:green;"><i class="fa fa-power-off"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> ha sido encendido<br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>


                  <% elsif notification.type_n == "wifi_on"  %>
                  <div class="icon icon-sm  text-white" style="background-color:#049ed6;"><i class="fa fa-wifi"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> Se ha conectado a <%= notification.po.wifi_ssd %><br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>

                    <% elsif notification.type_n == "wifi_off"  %>
                  <div class="icon icon-sm  text-white" style="background-color:#ad2800;"><i class="fa fa-wifi"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> Se ha desconectado de <%= notification.po.wifi_ssd %><br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>

                  <% elsif notification.type_n == "data_on"  %>
                  <div class="icon icon-sm  text-white" style="background-color:#049ed6;"><i class="fa fa-mobile"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> Se ha conectado a la red movil<br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>

                  <% elsif notification.type_n == "data_off"  %>
                  <div class="icon icon-sm  text-white" style="background-color:#ad2800;"><i class="fa fa-mobile"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> Se ha desconectado a la red movil<br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>

                  <% elsif notification.type_n == "location"  %>
                  <div class="icon icon-sm  text-white" style="background-color:#ad2800;"><i class="fa fa-map-marker-alt"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0"><%= notification.po.description %><br> GPS reporta<br> <span class="text-muted">Fecha: <%=fecha[0]%> A las <%= fecha[1]%> </span>  </p>
                  </div>


                  <% end %>



                </div></a>
                <% end %>
                

              <div class="dropdown-divider"></div><a href="/notify/list" class="dropdown-item text-center"><small class="font-weight-bold headings-font-family text-uppercase">Ver todas las notificaciones</small></a>
            </div>
          </li>
          <li class="nav-item dropdown ml-auto"><a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
           <%= image_tag("user.png", style:"max-width: 2.5rem", class:"img-fluid rounded-circle shadow") %>

          </a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family"><%= current_user.name%></strong><small>Administrador</small></a>
              <div class="dropdown-divider"></div>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
            </div>
          </li>
        </ul>
      </nav>
    </header>