<style>

.bar_menu
{
  position:absolute;
  top:80;
  width:100%;
  height:100px;
  background: black;
  color:yellow;
  margin-left:0px; 
  margin-top:0px;
}

.menu_row
{
  min-width:50px;
  min-height:90px;
  border:solid 0px;
  cursor:pointer;
  display:inline-block;
  margin:5px 30px 0px 10px;
}

#bar_menu .dropdown i
{
  font-size:18px !important;
  margin-top:10px !important;
  margin-left:45px;
}

#bar_menu .dropdown span
{
  color:white !important;
}


#bar_menu .dropdown
{
  display:inline-block;
  margin-top:50px;
  margin-left:20px;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#bar_menu .dropdown-menu
{
  background-color:#1d1f21;
  color:white;
  border-radius:0px !important;
}

#bar_menu .dropdown-item{
  background-color:#1d1f21;
  color:white;
}
#bar_menu .dropdown-item > i{
  font-size:12px;
  margin:4px;
}

#bar_menu .dropdown-item:hover
{
  background-color:#010624;
  color:white;
  border-left:solid 0px #333332;
}

#bar_menu .dropdown:hover
{
 background: rgb(195,34,71);
background: linear-gradient(0deg, rgba(195,34,71,1) 0%, rgba(255,117,0,1) 100%);
  cursor:pointer;
  border-bottom:solid 0px green;

}

#bar_menu .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .thy
 {
   background: rgb(195,34,71);
   background: linear-gradient(0deg, rgba(195,34,71,1) 0%, rgba(255,117,0,1) 100%);
 }

</style>

<div class="bar_menu" id="bar_menu">


 <div class="mad" style="margin-top:-47px;">
<div class="dropdown">

  <button type="button" class="dropdown-toggle menu_row" style="background-color:transparent;" data-toggle="dropdown">
  <center>
    <span style="margin-top:10px;margin-left:10px; padding:10px;"> Administracion</span>
  </center>

  </button>
 
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/estadistics/welcome"> <i class="fa fa-chart-bar"></i>Estadisticas</a>
    <a class="dropdown-item" href="/consortia"> <i class="fa fa-user"></i>Casinos</a>
    <a class="dropdown-item" href="/pos"> <i class="fa fa-laptop"></i>POS</a>
    <a class="dropdown-item" href="/panel/init"><i class="fa fa-solar-panel"></i>Panel de Control</a>
    <a class="dropdown-item" href="/alarms"> <i class="fa fa-bell"></i>Alarmas</a>
    <a class="dropdown-item" href="/repairs"> <i class="fa fa-calendar-check"></i>Reparaciones</a>
  </div>
</div>

<div class="dropdown">
  <button type="button" class="dropdown-toggle menu_row" style="background-color:transparent;" data-toggle="dropdown">
<center>
<span style="margin-top:10px; margin-left:38px;"><i class="fas fa-chart-bar" style="color:#A6D50A;"></i> Ventas</span>

</center>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/reportes/ventas"><i class="fa fa-file-alt" style="color:white;"></i> Reporte de Ventas</a>
    <a class="dropdown-item" href="/reportes/cobros"><i class="fa fa-file-alt" style="color:white;"></i> Reporte de Cobros</a>
    <a class="dropdown-item" href="/reportes/comisiones"><i class="fa fa-file-alt" style="color:white;"></i> Reporte de Comisiones</a>
    <a class="dropdown-item" href="/reportes/estado"><i class="fa fa-file-alt" style="color:white;"></i> Estado de Cuenta</a>
  </div>
</div>


<div class="dropdown">
  <button type="button" class="dropdown-toggle menu_row" style="background-color:transparent;" data-toggle="dropdown">
<center>
<span style="margin-top:10px;">Segmentaciones</span>
</center>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/zones"><i class="fa fa-layer-group" style="color:white;"></i>Zonas</a>
    <a class="dropdown-item" href="/interative/maps"><i class="fa fa-map-marker-alt" style="color:white;"></i>Vista interactiva</a>  
  </div>
</div>


<div class="dropdown">
  <button type="button" class="dropdown-toggle menu_row" style="background-color:transparent;" data-toggle="dropdown">
<center>
<span style="margin-top:10px;margin-left:25px;"><i class="fa fa-list-alt" aria-hidden="true" style="color:#CEDF28;"></i> Inventario</span>

</center>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/providers"> <i class="fa fa-truck-loading" style="color:white;"></i>Suplidores</a>
    <a class="dropdown-item" href="/warehouses"><i class="fa fa-warehouse" style="color:white;"></i>Almacenes</a>
    <a class="dropdown-item" href="/sectores"><i class="fa fa-pallet" style="color:white;"></i>Sectores</a>
    <a class="dropdown-item" href="/brands"><i class="fa fa-copyright" style="color:white;"></i>Marcas</a>
    <a class="dropdown-item" href="/modelos"><i class="fa fa-tags" style="color:white;"></i>Modelos</a>
    <a class="dropdown-item" href="/categories"><i class="fa fa-map-marker-alt" style="color:white;"></i>Categorias</a>
    <a class="dropdown-item" href="/products"><i class="fa fa-shopping-cart" style="color:white;"></i>Productos</a>
    <a class="dropdown-item" href="/shippings"><i class="fa fa-cart-arrow-down" style="color:white;"></i>Compras</a>
    <%= link_to "Entrada a Almacen", entrace_shipping_path(1), method: :get, class:"dropdown-item" %>
    <%= link_to "Modificar Entrada", modified_shipping_path(1), method: :get, class:"dropdown-item" %>
  </div>
</div>

<div class="dropdown">
  <button type="button" class="dropdown-toggle menu_row" style="background-color:transparent;" data-toggle="dropdown">
<center>
<span style="margin-top:10px; margin-left:38px;">Cobros</span>

</center>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/cobradores"><i class="fa fa-motorcycle" style="color:white;"></i> Cobradores</a>
    <a class="dropdown-item" href="/loans/"><i class="fa fa-hand-holding-usd" style="color:white;"></i> Préstamos</a>
  </div>
</div>


<div class="dropdown">
  <button type="button" class="dropdown-toggle menu_row" style="background-color:transparent;" data-toggle="dropdown">
<center>
<span style="margin-top:10px; margin-left:33px;"><i class="fa fa-book" aria-hidden="true" style="color:#FEAB01;"></i> Reportes</span>

</center>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/reportes/general"><i class="fa fa-file-alt" style="color:white;"></i>Inventario Gnrl.</a>
    <a class="dropdown-item" href="/reportes/reparaciones"><i class="fa fa-file-alt" style="color:white;"></i>Rep. Reparaciones</a>
    <a class="dropdown-item" href="/reportes/alertas"><i class="fa fa-file-alt" style="color:white;"></i>Rep. Alertas</a>
    <a class="dropdown-item" href="/notify/list"><i class="fa fa-file-alt" style="color:white;"></i>Notificaciones</a>
    <a class="dropdown-item" href="/reportes/logs"><i class="fa fa-file-alt" style="color:white;"></i>Log Control</a>
  </div>
</div>

</div>







</div>


