<style>
.menu_button{
    width:200px;
    height:180px;
    background-color:#212529;
    color:yellow;
    border-radius:10px;
    cursor:pointer;
}
.menu_button:hover{
   background-color:#000c4a; 
   margin-top:-2px;
}
.menu_button i{
font-size:25px;
margin-top:50px;
}
.menu_button h3{
font-size:18px;
margin-top:10px;
}
.flsh{
    border-radius:100px;
    width:50px;
    height:50px;
     background-color:#000c4a; 
}
.flsh i
{
      width:30px !important;
    height:30px !important;
margin-top:10px !important;
}
</style>

<div class="col-md-7 offset-2" style="background-color:white; height:25em; border:solid 1px #212529; ">
<div class="col-md-12" style="background-color:#000c4a; height:40px; border:solid 1px #000c4a; position:absolute; left:0; float:left; ">
<center>
<b style="color:white; margin-top:5px;">Menu</b>
</center>
</div>

<div class="row" style="margin-top:60px;">

<div class="col-md-4">
<a href="/reportes/cobros">
<div class="menu_button">
<center>
<i class="fa fa-file-invoice-dollar" style="color:white;"></i>
<h3>Rep. Cobros</h3>
<div class="flsh"><i class="fa fa-arrow-right" style="color:yellow;"></i></div>
</center>
</div>
</a>
</div>

<div class="col-md-4">
<a href="/cobranzas/new">
<div class="menu_button">
<center>
<i class="fa fa-hand-holding-usd" style="color:white;"></i>
<h3>Cobros</h3>
<div class="flsh"><i class="fa fa-arrow-right" style="color:yellow;"></i></div>
</center>
</div>
</a>
</div>


</div>


</div>

