 <div id="sidebar" class="sidebar " style="background-color:#191b1c; position:fixed;  height:100%; top:0%; margin-top:71px;  ">
        <div style="background-color:#191b1c;color:rgb(195,105,34);" class=" text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family" >MENU</div>
        <ul class="sidebar-menu list-unstyled">

          <li class="sidebar-list-item " style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted "><i class="fa fa-home mr-3 text-gray"></i><span>Administracion</span></a>
            <div id="pages" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="/estadistics/welcome" class="sidebar-link text-muted pl-lg-5">Estadisticas</a></li>
                <li class="sidebar-list-item"><a href="/consortia" class="sidebar-link text-muted pl-lg-5">Consorcios</a></li>
                <li class="sidebar-list-item"><a href="/pos" class="sidebar-link text-muted pl-lg-5">POS</a></li>
                <li class="sidebar-list-item"><a href="/panel/init" class="sidebar-link text-muted pl-lg-5">Panel de Control</a></li>
                <li class="sidebar-list-item"><a href="/alarms" class="sidebar-link text-muted pl-lg-5">Alertas</a></li>
                <li class="sidebar-list-item"><a href="/repairs" class="sidebar-link text-muted pl-lg-5">Reparaciones</a></li>
              </ul>
            </div>
          </li>

          <li class="sidebar-list-item " style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#segmentos" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted "><i class="fa fa-map-marked-alt mr-3 text-gray"></i><span>Ventas</span></a>
            <div id="segmentos" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">   
               <li class="sidebar-list-item"> <a class="sidebar-link text-muted pl-lg-5" href="/reportes/ventas"> Reporte de Ventas</a></li>
                <li class="sidebar-list-item"><a class="sidebar-link text-muted pl-lg-5" href="/reportes/cobros"> Reporte de Cobros</a></li>
                <li class="sidebar-list-item"><a class="sidebar-link text-muted pl-lg-5" href="/reportes/comisiones">Reporte de Comisiones</a></li>
                <li class="sidebar-list-item"><a class="sidebar-link text-muted pl-lg-5" href="/reportes/estado"> Estado de Cuenta</a></li>
                         
                <li class="sidebar-list-item"><a href="/zones" class="sidebar-link text-muted pl-lg-5">Zonas</a></li>
                <li class="sidebar-list-item"><a href="/interative/maps" class="sidebar-link text-muted pl-lg-5">Mapa Interactivo</a></li>
              </ul>
            </div>

          <div style="background-color:#191b1c;color:rgb(195,105,34);" class=" text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Inventario</div>
          
          <li class="sidebar-list-item" style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#almacenes" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fa fa-boxes mr-3 text-gray"></i><span>Almacenes</span></a>
            <div id="almacenes" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="/providers" class="sidebar-link text-muted pl-lg-5">Suplidores</a></li>
                <li class="sidebar-list-item"><a href="/warehouses" class="sidebar-link text-muted pl-lg-5">Naves</a></li>
                <li class="sidebar-list-item"><a href="/sectores" class="sidebar-link text-muted pl-lg-5">Sectores</a></li>
                <li class="sidebar-list-item"><a href="/brands" class="sidebar-link text-muted pl-lg-5">Marcas</a></li>
                <li class="sidebar-list-item"><a href="/modelos" class="sidebar-link text-muted pl-lg-5">Modelos</a></li>
                <li class="sidebar-list-item"><a href="/categories" class="sidebar-link text-muted pl-lg-5">Categorias</a></li>
                <li class="sidebar-list-item"><a href="/products" class="sidebar-link text-muted pl-lg-5">Productos</a></li>
              </ul>
            </div>
          </li>

          <li class="sidebar-list-item" style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#mantenimientos" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fa fa-shipping-fast mr-3 text-gray"></i><span>Compras</span></a>
            <div id="mantenimientos" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="/shippings" class="sidebar-link text-muted pl-lg-5">Crear Compra</a></li>
                <li class="sidebar-list-item">
                <%= link_to "Entrada a Almacen", entrace_shipping_path(1), method: :get, class:"sidebar-link text-muted pl-lg-5" %>                
                </li>
               <li class="sidebar-list-item">
                <%= link_to "Modificar Entrada", modified_shipping_path(1), method: :get, class:"sidebar-link text-muted pl-lg-5" %>
                </li>
              </ul>
            </div>
          </li>
          <div style="background-color:#191b1c;color:rgb(195,105,34);" class=" text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Cobranzas</div>
              <li class="sidebar-list-item" style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#cobros" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fa fa-hand-holding-usd mr-3 text-gray"></i><span>Cobros</span></a>
            <div id="cobros" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="/cobradores" class="sidebar-link text-muted pl-lg-5">Cobradores</a></li>
                <li class="sidebar-list-item"><a href="/loans/" class="sidebar-link text-muted pl-lg-5">Préstamos</a></li>
              
              </ul>
            </div>
          </li>
        <div style="background-color:#191b1c; color:rgb(195,105,34);" class=" text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Reportes</div>     

          <li class="sidebar-list-item" style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#rinventario" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fa fa-barcode mr-3 text-gray"></i><span>Inventario</span></a>
        <div id="rinventario" class="collapse">
          <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
            
            <li class="sidebar-list-item"><a href="/reportes/general" class="sidebar-link text-muted pl-lg-5">Reporte General</a></li>
            
            <li class="sidebar-list-item"><a href="/reportes/reparaciones" class="sidebar-link text-muted pl-lg-5">Rep. Reparaciones</a></li>

          </ul>
        </div>
        </li>

                <li class="sidebar-list-item" style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#ralertas" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fa fa-bell mr-3 text-gray"></i><span>Alertas</span></a>
            <div id="ralertas" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="/reportes/alertas" class="sidebar-link text-muted pl-lg-5">Alertas</a></li>
                <li class="sidebar-list-item"><a href="/notify/list" class="sidebar-link text-muted pl-lg-5">Notificaciones</a></li>
              </ul>
            </div>
          </li>


              <li class="sidebar-list-item" style="background-color:#191b1c;"><a href="#"  data-toggle="collapse" data-target="#pages2" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="fa fa-user-circle mr-3 text-gray"></i><span>Actividades</span></a>
            <div id="pages2" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="/reportes/logs" class="sidebar-link text-muted pl-lg-5">Log Control</a></li>

              </ul>
            </div>
          </li>

        </ul>

      
      </div>