<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/shippings">Compras</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar / Registar</li>
  </ol>
</nav>


<%= form_with(model: shipping, local: true) do |form| %>
  <% if shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping.errors.count, "error") %> 
      prohibited this shipping from being saved:
      </h2>
      <ul>
      <% shipping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
<div class="row">
<div class="col-md-8  " style="">
  <div class="card card-body bg-white">

  <h3>Compras</h3><hr>

   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
      <th>Credito</th>
      <th>Descripcion</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr>

        <td><%= form.check_box :credit%></td>
        <td><%= form.text_field :title, class:"form-control", placeholder:"Concepto de Compra" %></td>
        <td><%= form.select :status, [["Pendiente","1"]], class:"form-control" %></td>
      
      </tr>
    </tbody>
  </table>

  </div><br>

  </div>


    <div class="col-md-4 " style="">
  <div class="card card-body bg-white">
    <h6>Acciones</h6><hr>

  <div class="m1">
  <center>
    <%= form.submit "Comprar", class:"btn btn-primary" %>
    <%= link_to 'Cancelar', shippings_path, class:"btn btn-danger" %>  
  </center>

  </div>


  </div>
  
  </div>


  <br>
</div>
  <div class="row">
<div class="col-md-8  ">
  <div class="card card-body bg-white ">
  <div class="m1">

      <%= link_to_add_association 'Agregar', form, :shoppings, class: 'btn btn-warning float-right', data: { association_insertion_node: '.shoppings', association_insertion_method: :append } %>

  </div>
    <h3>Pedidos</h3><hr>
    <table class="table table-striped">
      <thead>
        <th>Producto</th> <th>Proveedor</th> <th>Cantidad</th> <th>Precio</th> <th>Estado</th><th></th>
      </thead>
      <tbody  class='shoppings'>
      <%= form.fields_for :shoppings do |builder| %>
        <%= render 'shopping_fields', f: builder %>
      <% end %>
      </tbody>
    </table>


  </div>


  </div>



</div>
</div>




<% end %>

<script>
$("select").select2({width: 150});
</script>
