<style>
.breadcrumb a{
  margin:10px;
}
</style>
<% unless request.format.to_sym == :pdf %>

<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black ">
      <%= link_to 'Atras  ', shippings_path, class:"float-right" %>

    <%= link_to ' Imprimir', barcode_shipping_path(@shipping, :format => :pdf), class:"float-right", target: '_blank' %>


  </ol>
</nav>
<% end %>

<div class="row">
<div class="col-md-10 offset-md-1">
<div class="card card-body bg-white ">

<h2>Barcodes</h2><hr>
<% @shipping.shoppings.each do |ship| %>
<br>
<h6 class="float-left"><%= ship.product.description%></h6><hr>
<div class="row">
<% (1..ship.quanty).each do |cods|
codigo = rand(10568 .. 105446).to_s
svg = Barby::Code128.new(codigo).to_svg(margin: 0)
%>
<div class="col-md-4 float-left">
<center>
<div class="card card-body">
<% concat svg.html_safe %><br>
<%= codigo%>
</div>
</center>

<br><br>
</div>

<% end %>

<% end %>
</div>
</div>
</div>

</div>