<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/shippings">Compras</a></li>
    <li class="breadcrumb-item active" aria-current="page">Entrada a Almacen</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-12">
        <div class="card card-body bg-white">
        <div class="m1">
        <%= link_to '+ Crear Compra', new_shipping_path, class:" btn btn-danger float-right " %>
        
        </div>

        <h5 class="text-muted">Compras sin Entrada</h5><hr>

   <table class="table table-striped table-hover">
 <thead class="" >
        <th>Code</th>  <th>Concepto</th>  <th>Tipo</th></th><th></th>

        </thead>
        <tbody>
        <%  @entraces.each do |entrada|%>
            <tr>
                <td><%=entrada.id%></td>
                <td><%=entrada.title%></td>
                   <td>
        
        <% if entrada.credit == 0 %>
        <span class="badge badge-primary">Al contado</span>
        <% else %>
        <span class="badge badge-danger">Credito</span>

        <% end %>

        </td>

        <td>
        <a href="/shippings/<%=entrada.id%>/goware" class="btn btn-danger"><i class="fa fa-arrow-circle-right"></i></a>
        </td>

            </tr>
        <% end %>
        </tbody>

        </table>


        </div>
    </div>
</div>