<br>
<div class="row" id="app_">

    <div class="col-md-10 offset-md-1">
        <div class="card card-body bg-white">
        <div class="m1">
                <a id="enviar" class="btn btn-danger float-right"><i class="fa fa-arrow-circle-right"></i></a>
</div>
  <div class="m1">
<%= link_to "Cancelar", entrace_shipping_path(1), method: :get, style:"margin-top:-70px;", class:"btn btn-warning" %>
</div>

        <h5 class="text-muted"><%=@shipping.title%></h5>
        <span class="text-muted">Compra #<%=@shipping.id%></span>
        <hr>
<%= form_tag("/shipping/save", :method => "post") do %>

    <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
 <th>Producto</th> <th>Suplidor</th>  <th>Almacen Destino</th>  <th>Barcode</th><th>#Referencia</th>

  </thead>
  <tbody>
  <%= hidden_field_tag "id", @shipping.id %>

  <% @shipping.shoppings.each do |ship|%>
                      <%= hidden_field_tag "ids[]", ship.id %>

    <% (1..ship.quanty).each do |i|%>
    <tr>
    <td><b><%=ship.product.description%></b></td>
        <td><b><%=ship.provider.description%></b></td>


    <td>
    <%= select_tag "warehouses_id[]", options_from_collection_for_select(@wares, "id", "description")%>

    </td>
    <td>
            <%= number_field_tag "barcodes[]","", placeholder:"0000000000" %>

    </td>
        <td>
            <%= number_field_tag "references[]","", placeholder:"0000000000" %>

    </td>
    </tr>
    
  <% end %>
  <% end %>
      <script>
        $("select").select2();
        </script>
  </tbody>

  </table>
  <% end %>


        </div>

        </div>

        </div>



        <script>
        $("#enviar").click(function(){
          var errors = 0;
          $("input[type='number']").each(function () {  
              if($(this).val() == "")
              {
                errors = 1;

                $(this).css("border-color","red");
                return false;
              }else{
                $(this).css("border-color","#eee");


              }
          });


          if(errors == 0)
          {
            $("form").submit();
          }

        });
        
        </script>

  