<style>
#ma a 
{
  margin:10px;
}

</style>

<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Compras</a></li>
    <li class="breadcrumb-item active" aria-current="page">Compras</li>
  </ol>
</nav>
<div class="col-md-12">
<div class="card card-body bg-white">

<%= form_tag("/shippings_q", :method => "get") do %>

<h6>Filtro</h6><hr>
   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
 <th>Code</th>  <th>Descripcion</th>  <th>Estado</th></th><th></th>

  </thead>
  <tbody>

  <tr>
  <td>
          <%= number_field_tag(:code, @code, class:"form-control", placeholder:"Codigo", style:"width:150px;") %>


  </td>
  <td>
          <%= text_field_tag(:desc, @desc, class:"form-control", placeholder:"Concepto de Compra", style:"width:250px;") %>
  </td>
  <td>
  <%= select_tag "status", raw("<option value='1'>Pendiente de Entrada</option><option value='2'>En Almacen</option>")%>

  </td>
  <td>
    <button type="submit" class="btn btn-info pull-right" style="margin-top:0px;">Filtrar</button>

  </td>
  </tr>


  </tbody>

  </table>


<% end %>

</div><br>
<div class="card card-body bg-white">
<div class="m1">
<%= link_to '+ Crear Compra', new_shipping_path, class:" btn btn-info float-right " %>
</div>
<h2 class="text-muted">Compras</h2>
<hr>


<table class="table table-striped table-hover"> 
  <thead class="">
    <tr>
      <th>Code</th>
      <th>Concepto</th>
      <th>Credito</th>
      <th>Estado</th>
      <th width="350" style="text-align:center;">Opciones</th>
    </tr>
  </thead>

  <tbody id="ma">
    <% @shippings.each do |shipping| %>
      <tr>
        <td><%= shipping.id %></td>
        <td><b></b><%= shipping.title %></td>
          <td>
        
        <% if shipping.credit == 0 %>
        <span class="badge badge-primary" >Al contado</span>
        <% else %>
        <span class="badge badge-danger">Credito</span>

        <% end %>

        </td>
            <td>
        
        <% if shipping.status == 2 %>
        <span class="badge badge-primary">En Almacen</span>
        <% else %>
        <span class="badge badge-danger"><h6>Pendiente</h6></span>

        <% end %>

        </td>
        <td>
                <% if shipping.status == 1 %>

                <a href="/shippings/<%= shipping.id %>/edit" class="" style=""">Editar</a>
                <% end %>
                <a href="/shippings/<%= shipping.id %>" class="" style="">Imprimir</a>
                                <% if shipping.status == 1 %>

<%= link_to "Barcode", barcode_shipping_path(shipping), method: :get %>
<%= link_to "Entrada", goware_shipping_path(shipping), method: :get %>

        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @shippings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<br>

</div>

</div>
<script>
$("select").select2({width:180});
</script>