
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Modificar entrada:</h4><hr>

<div class="row">
<div class="col-md-3" style="margin-left:10px;">
<b>Buscar por:</b>
  <%= select_tag "for_by", raw("<option value='barcode'>Barcode</option><option value='reference'>Referencia</option>"), style:"width:250px;"%>

</div>
<div class="col-md-3">
<b>Referencia:</b>
        <%= text_field_tag(:r, "", class:"", placeholder:"#0000000", style:"width:250px; height:40px;", id: "ref") %>
<br>
</div>

<div class="col-md-12">
    <button type="button" class="btn btn-info pull-right" style="margin-top:20px; margin-left:10px;" id="buscar_ref">Buscar</button>
<br><br>
</div>

</div>


</div>
<br>
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Editar:</h4><hr>

<div class="row">

    <div class="col-md-3" style="margin-left:10px;">
        <b>Barcode:</b>
        <%= text_field_tag(:desde, "", class:"", placeholder:"0000000", style:"width:250px; height:40px;", id: "edit_barcode") %>


    </div>

    <div class="col-md-3">
        <b>Referencia:</b>
                <%= text_field_tag(:desde, "", class:"", placeholder:"0000000", style:"width:250px; height:40px;", id: "edit_ref") %>

        <br>
    </div>

    <div class="col-md-12">
    <button type="button" class="btn btn-primary pull-right" style="margin-top:20px; margin-left:10px;" id="editar_btn">Editar</button>
    <br><br>
    </div>

</div>

</div>


<script>
$("#buscar_ref").click(function(){
    var value = $("#ref").val();
    window.id = 0;
    if(value != ""){
        
        $.get( "/api/getEntrance/"+$("#for_by").val()+"/"+$("#ref").val(), function(data) {
            if(data.c == "404")
            {
                $.amaran({
                content:{
                title:'Error',
                message:'Referencia no encontrada',
                info:"",
                icon:'fa fa-times-circle'
                },
                theme:'awesome ok',
                'position'  :'top right'
                }); 

            }else{

                if(data.c == "00")
                {
                    $("#edit_barcode").val(data.data[0].barcode);
                    $("#edit_ref").val(data.data[0].ref);
                    window.id = data.data[0].id;

                }
                
            }
        });

    }else{

        $.amaran({
                content:{
                title:'Error',
                message:'Introduzca un referencia',
                info:"",
                icon:'fa fa-times-circle'
                },
                theme:'awesome ok',
                'position'  :'top right'
                });

    }


});

$("#editar_btn").click(function(){

if(window.id == 0)
{

    $.amaran({
        content:{
        title:'Error',
        message:'Referencia no asignada',
        info:"",
        icon:'fa fa-times-circle'
        },
        theme:'awesome ok',
        'position'  :'top right'
    });



}else{
     $.get( "/api/changeEntrace/"+window.id+"/"+$("#edit_barcode").val()+"/"+$("#edit_ref").val(), function(data) {
         if(data.c == "00")
         {
              $.amaran({
                content:{
                title:'Excelente',
                message:'Cambios realizados con exito',
                info:"",
                icon:'fa fa-check'
                },
                theme:'awesome ok',
                'position'  :'top right'
            });

            window.id = 0;
            $("#edit_barcode, #edit_ref, #ref").val("");
         }else{
                 $.amaran({
                content:{
                title:'Error',
                message:'Tenemos problemas internos',
                info:"",
                icon:'fa fa-times-circle'
                },
                theme:'awesome ok',
                'position'  :'top right'
            });

         }
     });
}

});



</script>