<style>
.breadcrumb a{
  margin:10px;
}
</style>
<% unless request.format.to_sym == :pdf %>

<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black ">
      <%= link_to 'Atras  ', shippings_path, class:"float-right" %>

    <%= link_to ' Imprimir', shipping_path(@shipping, :format => :pdf), class:"float-right", target: '_blank' %>


  </ol>
</nav>
<% end %>
<div class="row">
<div class="col-md-9 offset-md-1">
  <div class="card card-body bg-white">
  <div class="row">
    <div class="col-md-6">
    <h2 class="text-muted float-left">Compra</h2><br><br>
    <span class="float-left text-muted">Codigo # <%=@shipping.id%></span><br>
    <span class="float-left text-muted">Concepto: <%=@shipping.title%></span><br>
    <span class="float-left text-muted">Fecha: <%=@shipping.created_at%></span>

    </div>
    <div class="col-md-6">
    <% unless request.format.to_sym == :pdf %>

          <%= image_tag("logo.png",class:"float-right",  style:"width:180px; margin-top:5px;") %>

          <% end %>

    </div>
  </div>


  <hr>

<table class="table">
<thead>
<th>Code</th><th>Producto</th><th>Cantidad</th><th>Precio</th><th>Suplidor</th><th>Costo $</th>
</thead>

<tbody>
<%
priceTotal = 0
costTotal = 0
cost = 0
%>
<% @shipping.shoppings.each do |shopping| %>
<%
priceTotal += shopping.price
cost = shopping.quanty * shopping.price
costTotal += cost
%>
<tr>
<td><%= shopping.id %></td>
<td><%= shopping.product.description %></td>
<td><%= shopping.quanty %></td>
<td><%= number_to_currency(shopping.price) %></td>
<td><%= shopping.provider.description %></td>
<td><%= number_to_currency(cost) %></td>
</tr>
<% end %>
<tr>
<td><b>Total:</b></td>
<td></td>
<td></td>
<td><b><%=number_to_currency(priceTotal)%></b></td>
<td></td>
<td><b style=color:red;><%= number_to_currency(costTotal) %></b></td>
</tr>
</tbody>

</table>

<br><br><br>
<center>
<b>___________________________</b>
<br>
<b>Firma & Sello</b>
</center>

  </div>

  </div>

  </div>

