<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/cobradores">Cobradores</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar / Editar</li>
  </ol>
</nav>


<div class="card card-body bg-white col-md-12 col-xs-offset-2">
<h2 class="text-muted">Cobradores - Agregar / Editar</h2>
<hr>

<%= form_with(model: cobradore, local: true) do |form| %>
  <% if cobradore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cobradore.errors.count, "error") %> prohibited this cobradore from being saved:</h2>

      <ul>
      <% cobradore.errors.full_messages.each do |message| %>

        <li><%= message %></li>

      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">


  <div class="col-md-12">

   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
  <th>Descripcion</th> <th>Telefono</th>  <th>Direccion</th> <th>Estado</th>

  </thead>
  <tbody>
  <tr>
  <td>
      <%= form.text_field :name, class:"form-control", placeholder:"Nombre Completo" %>

  </td>

    <td>
      <%= form.text_field :phone, class:"form-control", placeholder:"Telefono" %>

  </td>

  <td>
      <%= form.text_field :address, class:"form-control", placeholder:"Localidad" %>
  </td>

    <td>
   <%= form.select :status, [["Activa","1"],["Inactiva","2"]], class:"form-control" %>

  </td>
  </tr>
  </tbody>
  </table>


</div>
</div>


  <div class="row">
  <div class="col-md-9">

     <table class="table table-striped table-hover">
 <thead class="bg-blue text-white">


  <th>Email</th> <th>Usuario</th>  <th>Contraseña</th> <th>Contraseña Confirmacion</th>
 
  </thead>
  <tbody>
      <%= form.fields_for :users do |usuario|%>
    <%= usuario.hidden_field(:level, :value => 3)%>
<%= usuario.hidden_field(:po_id, :value => 1)%>
  <tr>
  <td>
      <%= usuario.text_field :email, class:"form-control", placeholder:"Correo Electronico" %>

  </td>

    <td>
      <%= usuario.text_field :username, class:"form-control", placeholder:"Usuario" %>

  </td>

  <td>
      <%= usuario.password_field :password, class:"form-control", placeholder:"Clave" %>
  </td>

    <td>
      <%= usuario.password_field :password_confirmation, class:"form-control", placeholder:"Confirmacion" %>

  </td>


  </tr>

  <% end %>
  </tbody>
  </table>

  
  </div>


  <div class="col-md-3">

       <table class="table table-striped table-hover">
 <thead class="bg-green text-black">
  <th>Zonas</th> <th>Accion</th>

  </thead>
  <tbody>

    <%= form.collection_check_boxes :zone_ids, Zone.where(user_id: current_user.id), :id, :description do |b| %>

  <tr>
  <td>
          <%= b.label %>

  </td>

    <td>
      <%= b.check_box %>

  </td>


  </tr>
    <% end %>
  </tbody>
  </table>
  
  
  </div>


  </div>


<center>
  <div class="actions">
    <%= form.submit "Grabar", class:"btn btn-success" %>
        <%= link_to 'Cancelar', cobradores_path, class:"btn btn-danger" %>

  </div>
</center>



<% end %>


</div>

