<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Cobros</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cobradores</li>
  </ol>
</nav>


<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px; ">

<h2 class="text-muted"style="margin:10px;">Cobradores</h2>
<hr>

   <table class="table table-striped table-hover " style=" ">
 <thead class="" style="background-color:#191b1c; color:yellow;">
    <tr>
      <th>Code</th>
      <th>Descripcion</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Estado</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @cobradores.each do |cobradore| %>
      <tr>
        <td><%= cobradore.id %></td>
        <td><%= cobradore.name %></td>
        <td><%= cobradore.phone %></td>
        <td><%= cobradore.address %></td>
        <td>
        
        <% if cobradore.status == 1 %>
        <span class="label label-primary">Activo</span>
        <% else %>
        <span class="label label-danger">Inactivo</span>

        <% end %>
        
        </td>
        <td><%= link_to 'Editar', edit_cobradore_path(cobradore),  class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="m1">

<%= link_to 'Crear Cobrador', new_cobradore_path,  class:"btn btn-primary", style: "margin:10px;" %>

</div>

</div>
