<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cobradore.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cobradore.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cobradore.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cobradore.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cobradore.status %>
</p>

<%= link_to 'Edit', edit_cobradore_path(@cobradore) %> |
<%= link_to 'Back', cobradores_path %>
