<tr class="nested-fields">
  <td>
    <%=
    f.collection_select(
    :po_id, 
    Po.where(user_id: current_user.id).where(status: 1), 
    :id,
    :description, 
    :prompt => false,
    style:"width:200px !important;"
    )
  %>
  </td>

  <td>
   <%= f.select :alarm_type, [["Venta mayor que","1"],["Venta menor que","2"]], class:"form-control" %>
<span><b>></b></span>
  </td>

  <td><%= f.number_field :amount, class:"form-control", placeholder:"0", style:"width:160px;" %></td>

      <td>
   <%= f.select :status, [["Activa","1"],["Inactiva","2"]], class:"form-control" %>

  </td>

    <td>
    <%= link_to_remove_association "x", f, class: 'btn btn-danger btn-xs' %>
  </td>

</tr>