<br>

<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/alarms">Alarmas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
  </ol>
</nav>

<div style="width:100%; min-height:70px; background-color:white;margin-top:-20px;">
<h3 class="float-left" style="margin-left:10px; margin-top:20px; color:#800000;">Configuración de Alarma</h3>
<hr>
</div>

<%= form_with(model: alarm, local: true) do |form| %>
  <% if alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% alarm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
<th>Descripcion</th><th>Lunes</th><th>Martes</th><th>Miercoles</th><th>Jueves</th><th>Viernes</th><th>Sábado</th><th>Domingo</th>
</head>

<tbody>
<tr>
<td>
    <%= form.text_field :description %>

</td>
<td>

<div class="custom-control custom-checkbox">
<%= form.check_box :mon, class:"custom-control-input" %>
<%= form.label :mon, "Si", class:"custom-control-label"  %>
</div>

</td>

<td>
<div class="custom-control custom-checkbox">

<%= form.check_box :tue, class:"custom-control-input" %>
<%= form.label :tue, "Si", class:"custom-control-label"  %>
</div>

</td>

<td>
<div class="custom-control custom-checkbox">

<%= form.check_box :wed, class:"custom-control-input" %>
<%= form.label :wed, "Si", class:"custom-control-label"  %>
</div>
</td>

<td>
<div class="custom-control custom-checkbox">
<%= form.check_box :thu, class:"custom-control-input" %>
<%= form.label :thu, "Si", class:"custom-control-label"  %>
</div>
</td>

<td>
                <div class="custom-control custom-checkbox">

<%= form.check_box :fri, class:"custom-control-input" %>
<%= form.label :fri, "Si", class:"custom-control-label"  %>
</div>
</td>

<td>
                <div class="custom-control custom-checkbox">

<%= form.check_box :sat, class:"custom-control-input" %>
<%= form.label :sat, "Si", class:"custom-control-label"  %>
</div>
</td>

<td>
                <div class="custom-control custom-checkbox">

<%= form.check_box :sun, class:"custom-control-input" %>
<%= form.label :sun, "Si", class:"custom-control-label"  %>
</div>
</td>



</tr>

</tbody>
</table>

<div class="" style="width:30%; min-height:70px; background-color:white; float:right;">
   
   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
    <th>Activada</th><th>Accion</th>
    </thead>
    <tbody>
    <tr>
      <td>
            <%= form.check_box :status, class:"form-control", checked: true %>

      </td>

      <td>
        <%= form.submit "Guardar", class:"btn btn-info" %>
        <%= link_to 'X', alarms_path, class:"btn btn-danger" %>

        

      </td>
    </tr>

    </tbody>

    </table>


   

</div>

<div class="" style="width:65%; min-height:200px; background-color:white; float:left;">
  <div class="m1">

      <%= link_to_add_association 'Agregar', form, :alarms_config, class: 'btn btn-warning float-right', data: { association_insertion_node: '.alarms_config', association_insertion_method: :append }, style:"margin-right:10px; margin-top:10px;" %>

  </div>
<h4 class="text-muted" style="margin-left:10px; margin-top:10px;">Configuraciones</h4><hr>
<table class="table">
<thead>
<th>Puntos de Venta</th><th>Tipo de alerta</th><th>Monto</th><th>Status</th><th></th>
</thead>

<tbody class='alarms_config'>
      <%= form.fields_for :alarms_config do |builder| %>
        <%= render 'alarms_config_fields', f: builder %>
      <% end %>
</tbody>
</table>
</div>


 
<% end %>
