<style>
.brigan{
  -webkit-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.75);
box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.75);
}
</style>
<br>
<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Administracion</a></li>
    <li class="breadcrumb-item active" aria-current="page">Alarmas</li>
  </ol>
</nav>
<div style="width:100%; min-height:70px; background-color:white;margin-top:-20px;">
<%= link_to '+ Crear Alarma', new_alarm_path, class:"btn btn-warning float-right", style:"margin-right:10px; margin-top:10px;" %>
<h3 class="float-left" style="margin-left:10px; margin-top:20px; color:#800000;">Alertas</h3>
<hr>
</div>
<div style="width:100%; min-height:80px; background-color:#191b1c; color:yellow;margin-top:-20px;">

<%= form_tag("/alerts_q", :method => "get") do %>
<div class="row" style="margin:6px;">
<div class="col-md-3" style="margin-top:10px;">
<b>Descripcion:</b>
        <%= text_field_tag(:description, "", class:"form-control", placeholder:"Nombre de la alerta", style:"", id: "desde") %>

</div>
<div class="col-md-2" style="margin-top:10px;">
    <button type="submit" class="btn btn-info pull-right" style="margin-top:20px;">Filtrar</button>

</div>

</div>
<% end %>

</div>
<h3 class="text-muted" style="margin:15px;">
<% if @alarms.size < 1%>
<center>
No hay resultados
</center>
<% end %>
</h3>
    <% @alarms.each do |alarm| %>
<br><br>
    <div style="width:100%; min-height:170px; background-color:white; margin-top:-20px;" class="brigan">
      
      <div class="row">
        <div class="col-md-12">

        <h2 style="margin-top:10px; margin-left:10px;" class="text-muted"><%= alarm.description%></h2><hr>

        </div>

        <div class="col-md-12">
          <div class="col-md-12">
                 <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
              <th>Lunes</th><th>Martes</th><th>Miercoles</th><th>Jueves</th><th>Viernes</th><th>Sabado</th><th>Domingo</th><th>Puntos de Ventas</th><th></th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%
                      if alarm.mon == "1"
                        concat "Si"
                      else
                        concat "No"
                      end
                    %>
                  </td>

                   <td>
                    <%
                      if alarm.tue == "1"
                        concat "Si"
                      else
                        concat "No"
                      end
                    %>
                  </td>

                   <td>
                    <%
                      if alarm.wed == "1"
                        concat "Si"
                      else
                        concat "No"
                      end
                    %>
                  </td>

                   <td>
                    <%
                      if alarm.thu == "1"
                        concat "Si"
                      else
                        concat "No"
                      end
                    %>
                  </td>

                   <td>
                    <%
                      if alarm.fri == "1"
                        concat "Si"
                      else
                        concat "No"
                      end
                    %>
                  </td>

                   <td>
                    <%
                      if alarm.sat == "1"
                        concat "Si"
                      else
                        concat "No"
                      end
                    %>
                  </td>

                   <td>
                    <%
                      if alarm.sun == "1"
                        concat "Si"
                      else
                        concat "No"
                      end
                    %>
                  </td>
                  <td>
                  <%
                  alarm.alarms_config.group("po_id").each do |pos|

                  %>
                  <span class="badge badge-danger">
                  <%=pos.po.description%>
                  </span>
                  <% end %>
                  </td>
                          <td><%= link_to 'Editar', edit_alarm_path(alarm), class:"btn btn-danger" %></td>

                </tr>
              </tbody>
              </table>
          </div>

         
        </div>


      </div>

    </div>
   
    <% end %>



