<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @alarm.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alarm.description %>
</p>

<p>
  <strong>Mon:</strong>
  <%= @alarm.mon %>
</p>

<p>
  <strong>Tue:</strong>
  <%= @alarm.tue %>
</p>

<p>
  <strong>Wed:</strong>
  <%= @alarm.wed %>
</p>

<p>
  <strong>Thu:</strong>
  <%= @alarm.thu %>
</p>

<p>
  <strong>Fri:</strong>
  <%= @alarm.fri %>
</p>

<p>
  <strong>Dat:</strong>
  <%= @alarm.dat %>
</p>

<p>
  <strong>Sun:</strong>
  <%= @alarm.sun %>
</p>

<p>
  <strong>Status:</strong>
  <%= @alarm.status %>
</p>

<%= link_to 'Edit', edit_alarm_path(@alarm) %> |
<%= link_to 'Back', alarms_path %>
