<div  style="width:100%; min-height:150px; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h3 class="text-muted" style="margin-left:10px; margin-top:10px;">Cobros</h3>
<hr>
 <%= form_tag("/deudas", :method => "get") do %>
<table id="table_two" style="width:300px; float:left;">
 <thead style="background-color:#191b1c; color:white;">
<th style="width:170px;">Zona</th><th style="width:170px;">Punto de Ventas</th><th></th>
</thead>

<tbody id="app_">
<tr>

<td>
   <%= select_tag "Zona", options_from_collection_for_select(current_user.cobradore.zones, "id", "description"),prompt:"-- Seleccione --", "v-on:change" => "changeItem($event)"%>
</td>
 
<td>
 <select style="" name="pos" v-model="pos_m">
<option value="0">Ninguno</option>
<option v-for="pos in pos_ar" :value="pos.id">{{ pos.description}}</option>
</select>
</td>
<td>
<button type="submit" class="btn btn-info">Mostrar</button>
</td>


</tr>
</tbody>

</table>
<% end %>
<hr>
<table id="table_one">
 <thead style="background-color:#191b1c; color:white; text-align:center;">
<th>Code</th><th>Punto de Ventas</th><th>Entrada(IN)</th><th>Salida(OUT)</th><th>Deuda-Venta</th><th>Comision</th><th>Deuda-Prestamos</th>
</thead>

<tbody>
<tr style="text-align:center;">
<td><b>#</b></td><td><b>--</b></td><td style="background-color:#0047ba; color:white;"><b>$0.00</b></td><td style="background-color:#b0001d; color:white;"><b>$0.00</b></td><td style="background-color:#f5b11d;"><b>$0.00</b></td><td style="background-color:#156608; color:white;"><b>$0.00</b></td><td style="background-color:#50008a; color:white;"><b>$0.00</b></td>
</tr>
</tbody>

</table>

</div>

<div  style="width:100%; min-height:150px; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h3 class="text-muted" style="margin-left:10px; margin-top:10px;">Préstamos</h3>
<hr>
<table id="table_presta">
 <thead style="background-color:#191b1c; color:white; text-align:center;">
<th>No.</th><th>Préstamo</th><th>Deuda</th><th>Mora</th><th>Deuda-Neta</th><th>Pago</th><th>Pago-Mora</th>
</thead>
<tbody>

</tbody>

</table>
</div>

<script>
$("#table_one").DataTable({

  "paging":   false,
    "ordering": true,
    "info":     false,
    "searching": false
});

$("#table_two").DataTable({

  "paging":   false,
    "ordering": true,
    "info":     false,
    "searching": false
});

$("#table_presta").DataTable({

  "paging":   false,
    "ordering": true,
    "info":     false,
    "searching": false
});

var app = new Vue({
  el: '#app_',
  data: {

        casinos_ar: [],
        zonas_ar: [],
        pos_ar: [],
        zone_selected: 0,
        casinos_m: 0,
        zonas_m: 0,
        pos_m: 0
  },
  methods:
  {
     changeItem: function changeItem(event) 
     {
        axios
        .get('/api/getPOSZone/'+event.target.value)
        .then(response => (this.pos_ar = response.data.data))
     }
  },
  mounted()
  {
 
  }

})



</script>