<style>
#map {
position:absolute;
    width:92.5%;
        height: 80%;
}

      a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}


</style>
<br>

<div class="row float-right">

<div class="col-md-12">
<b>
<%= label_tag "zona_id", "Zona:" %>
</b>
<%= select_tag "zona_id", options_from_collection_for_select(Zone.where(user_id: current_user.id), "id", "description"), id: "zone_id"%>
<b>
<%= label_tag "status", "Status:" %>
</b>
<%= select_tag "status", raw("<option value='0'>Todos</option><option value='1'>Encendida</option><option value='2'>Apagada</option>"), id: "status" %>
    
  <button type="button" class="btn btn-info pull-right" id="filtrar" style="margin-top:0px;">Filtrar</button>

</div>


</div>
<i class="fas fa-map-marker-alt"></i>
<h5>Puntos de Ventas </h5><hr>
<div id="map"></div>

 <script>
      var map;
      var markers = [];


            function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 18.735693, lng: -70.1626511},
          zoom: 5,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: true,
            fullscreenControl: false
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPnrvcjS1ZSJ8UIvS_4O-Crum13A-x2Dk&callback=initMap"
    async defer></script>


    <script>
      $("select").select2({width: 150});

      $("#filtrar").click(function(){
    
        DeleteMarkers();
        $.get( "/api/getDirections/"+$("#zone_id").val()+"/"+$("#status").val(), function( data ) {
          
          if(data.c == "00")
          {

              $.each(data.data, function(i, item) {
                  var infowindow = new google.maps.InfoWindow({
          content: "<b>"+item.description+"</b><br>Balance: <b style='color:red;'>"+item.balance+"</b>"
        });
            var myLatLng = {lat: parseFloat(item.lat), lng: parseFloat(item.lon)};
             var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: item.description
                });

                markers.push(marker);

            infowindow.open(map, marker);

          });

            map.setZoom(8)
          }else{
              $.amaran({
                content:{
                title:'Error',
                message:'Seleccione su POS',
                info:data.m,
                icon:'fa fa-dollar-sign'
                },
                theme:'awesome ok',
                'position'  :'top right'
                });
          }
        

        });
      });

         function DeleteMarkers() {
        //Loop through all the markers and remove
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    };

    </script>
