<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Rep. Alarmas</h4>
<div class="" style="width:100%; min-height:110px;color:yellow; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>
  <%= form_tag("/alertas_q", :method => "get") do %>
<div class="row" style="margin-left:10px;">
<div class="col-md-2">
<b>Desde:</b>
        <%= text_field_tag(:desde, @desde, class:"form-control", placeholder:"00-00-0000", style:"", id: "desde") %>
</div>
<div class="col-md-2">
<b>Hasta:</b>
        <%= text_field_tag(:hasta, @hasta, class:"form-control", placeholder:"00-00-0000", style:"", id: "hasta") %>
</div>



<div class="col-md-2">

    <button type="submit" class="btn btn-info pull-right" style="margin-top:20px;">Filtrar</button>

</div>

</div>
  <% end %>
</div>
</div>

<br>
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee;">
<table class="table table-stripped">
<thead>
<th>Code</th><th>Punto de Venta</th><th>Alarma</th><th>Configuracion</th><th>Balance POS</th><th>Fecha</th>
<% @result.each do |r| 
fecha = r.created_at.to_s.split(" ")
%>
<tr>

<td><%= r.id%></td>

<td>

<i class="fa fa-laptop"></i> <a href="/pos/show/<%= r.po.id%>"> <%= r.po.description %></a></td>
<td>
<%= r.alarm.description%>
</td>

<td>

<% if r.alarms_config.alarm_type == "1" %>
<span class="badge badge-danger">Venta mayor que: <%= number_to_currency(r.alarms_config.amount)%></span>
<% elsif r.alarms_config.alarm_type == "2" %>
<span class="badge badge-danger">Venta menor que: <%= number_to_currency(r.alarms_config.amount)%></span>

<% end %>
</td>

<td>
<%= number_to_currency(r.balance)%>
</td>

<td>
<%=fecha[0]%>
</td>

</tr>

<% end %>
</thead>
<tbody>

</tbody>
</table>
</div>




<script>

$("#desde").datepicker({format: "yyyy-mm-dd"});
$("#hasta").datepicker({format: "yyyy-mm-dd"});

</script>
