<div id="app">
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Reporte de Cobros</h4>
<div class="" style="width:100%; min-height:110px;color:white; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>
  <%= form_tag("/cobros_q", :method => "get") do %>
  <div class="row" style="margin-left:10px;">
<div class="col-md-2">

<span style="margin-top:10px !important;">Zona:</span><br>
<select style="height:30px; background-color:#000c4a; color:white;" name="zona" v-on:change="changeItem($event)" v-model="zonas_m">
<option value="0">Todas</option>
<option v-for="zona in zonas_ar" :value="zona.id">{{ zona.description}}</option>
</select>
<br>
<span>Punto de Ventas:</span><br>
<select style="height:30px; background-color:#000c4a; color:white;" name="pos" v-model="pos_m">
<option value="0">Todos</option>
<option v-for="pos in pos_ar" :value="pos.id">{{ pos.description}}</option>
</select>
<br><br>
</div>
<div class="col-md-2">

<span>Desde:</span><br>
        <%= text_field_tag(:desde, @desde, class:"", placeholder:"00-00-0000", style:"width:180px; background-color:#e1f2f1;", id: "desde") %>
<br>
<span>Hasta:</span><br>
        <%= text_field_tag(:hasta, @hasta, class:"", placeholder:"00-00-0000", style:"width:180px; background-color:#e1f2f1", id: "hasta") %>
<br>
  
</div>

<div class="col-md-2">
  <button type="submit" class="btn btn-info pull-right" style="margin-top:30px;">Ver Reporte</button>

</div>

<div class="col-10">

</div>

</div>

  <% end %>
</div>
</div>
</div>

<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<table id="table_report" class="display">
 <thead style="background-color:#191b1c; color:white;">
<th style="width:20px;"><b>No.</b></th><th>Casino</th><th>Zona</th><th>Punto de Venta</th><th>Comision %</th><th>Cobro</th><th>Pago Comision</th><th>Pago Prestamos</th><th>Bal. Anterior</th><th>Bal. Final</th><th>Fecha</th><th>Hora</th>
</thead>

<tbody>
<%
total_cobros = 0
total_comision = 0
total_prestamos = 0
@result.each do |r|
fecha = r.created_at.to_s.split(" ")
total_cobros += r.amount
total_comision += r.comission
total_prestamos += r.loanpays.sum(:amount) + r.loanpays.sum(:amount_mora)
%>
<tr>
<td><%= r.id%></td>
<td><%= r.po.consortium.description %></td>
<td><%= r.po.zone.description %></td>
<td><a href="/pos/<%= r.po.id %>"><%= r.po.description %></a></td>
<td><%= r.po.comision %>%</td>
<td style="color:blue; text-align:center;"><%= number_to_currency(r.amount) %></td>
<td style="color:green ; text-align:center;"><%= number_to_currency(r.comission) %></td>
<td style="color:red; text-align:center;"><%=number_to_currency(r.loanpays.sum(:amount) + r.loanpays.sum(:amount_mora))%></td>
<td ><%= number_to_currency(r.bal_ant) %></td>
<td ><%= number_to_currency(r.bal_end) %></td>
<td><%=fecha[0]%></td>
<td><%=fecha[1]%></td>
</tr>
<% end %>
<tr>
<td style="background-color:white;"><b>Total:</b></td><td style="background-color:white;"></td><td style=""></td><td style=""></td><td style=" text-align:right;"></td><td style=" text-align:center;"><b><%= number_to_currency(total_cobros) %></b></td><td style=" text-align:center;"><b><%= number_to_currency(total_comision) %></b></td><td style=" text-align:center;"><b><%= number_to_currency(total_prestamos) %></b></td><td style=" text-align:right;"></td><td></td><td></td><td></td>
</tr>
</tbody>
</table>

</div>
</div>
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<center>
<b>Reporte Estadistico</b>
</center>
<% if @result.size > 0 %>
<%= column_chart @result.group(:type_t).group_by_week(:created_at).sum(:amount), prefix: "$" %>
<% else %>
<%= column_chart [], prefix: "$" %>

<% end %>
</div>

<script>

var app = new Vue({
  el: '#app',
  data: {

        casinos_ar: [],
        zonas_ar: [],
        pos_ar: [],
        zone_selected: 0,
        casinos_m: 0,
        zonas_m: 0,
        pos_m: 0
  },
  methods:
  {
     changeItem: function changeItem(event) 
     {
        axios
        .get('/api/getPOSZone/'+event.target.value)
        .then(response => (this.pos_ar = response.data.data))
     }
  },
  mounted()
  {
         axios
        .get('/api/getZones/')
        .then(response => (this.zonas_ar = response.data.data))
  }

})

$("#desde").datepicker({format: "yyyy-mm-dd"});
$("#hasta").datepicker({format: "yyyy-mm-dd"});

$("#table_report").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});





//===============================================================>
// Manejo de vue js
//==============================================================>

</script>