<div id="app">
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Reporte de Comisiones</h4>
<div class="" style="width:100%; min-height:110px;color:white; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>
  <%= form_tag("/comisiones_q", :method => "get") do %>
  <div class="row" style="margin-left:10px;">
<div class="col-md-2">

<span style="margin-top:10px !important;">Zona:</span><br>
<select style="height:30px; background-color:#000c4a; color:white;" name="zona" v-on:change="changeItem($event)" v-model="zonas_m">
<option value="0">Todas</option>
<option v-for="zona in zonas_ar" :value="zona.id">{{ zona.description}}</option>
</select>
<br>
<span>Punto de Ventas:</span><br>
<select style="height:30px; background-color:#000c4a; color:white;" name="pos" v-model="pos_m">
<option value="0">Todos</option>
<option v-for="pos in pos_ar" :value="pos.id">{{ pos.description}}</option>
</select>
<br><br>
</div>
<div class="col-md-2">

<span>Desde:</span><br>
        <%= text_field_tag(:desde, @desde, class:"", placeholder:"00-00-0000", style:"width:180px; background-color:#e1f2f1;", id: "desde") %>
<br>
<span>Hasta:</span><br>
        <%= text_field_tag(:hasta, @hasta, class:"", placeholder:"00-00-0000", style:"width:180px; background-color:#e1f2f1", id: "hasta") %>
<br>
  
</div>

<div class="col-md-2">
  <button type="submit" class="btn btn-info pull-right" style="margin-top:30px;">Ver Reporte</button>

</div>

<div class="col-10">

</div>

</div>

  <% end %>
</div>
</div>
</div>

<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<table id="table_report">
<thead style="background-color:#191b1c; color:white;">
<th style="text-align:center;"><b>No.</b></th><th style="text-align:center;">Punto de Venta</th><th style="text-align:center;">IN</th><th style="text-align:center;">OUT</th><th style="text-align:center;">Comision</th>
</thead>
<tbody>
<tr>
<td><b>Total:</b></td><td></td><td style="text-align:center;"><b>$0.00</b></td><td style="text-align:center;"><b>$0.00</b></td><td style="text-align:center;"><b>$0.00</b></td>
</tr>
</tbody>
</table>
</div>

<script>

var app = new Vue({
  el: '#app',
  data: {

        casinos_ar: [],
        zonas_ar: [],
        pos_ar: [],
        zone_selected: 0,
        casinos_m: 0,
        zonas_m: 0,
        pos_m: 0
  },
  methods:
  {
     changeItem: function changeItem(event) 
     {
        axios
        .get('/api/getPOSZone/'+event.target.value)
        .then(response => (this.pos_ar = response.data.data))
     }
  },
  mounted()
  {
         axios
        .get('/api/getZones/')
        .then(response => (this.zonas_ar = response.data.data))
  }

})

$("#desde").datepicker({format: "yyyy-mm-dd"});
$("#hasta").datepicker({format: "yyyy-mm-dd"});

$("#table_report").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});


</script>