<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Estado de Cuenta</h4>
<div class="" style="width:100%; min-height:110px;color:white; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>
  <%= form_tag("/estado_q", :method => "get") do %>
  <div class="row" style="margin-left:10px;">
<div class="col-md-2">


<span>Punto de Ventas:</span><br>
 <%= select_tag "pos", options_from_collection_for_select(Po.where(user_id: current_user.id), "id", "description")%>

<br><br><br>
</div>
<div class="col-md-2">

<span>Desde:</span><br>
        <%= text_field_tag(:desde, @desde, class:"", placeholder:"00-00-0000", style:"width:180px; background-color:#e1f2f1;", id: "desde") %>
<br>
<span>Hasta:</span><br>
        <%= text_field_tag(:hasta, @hasta, class:"", placeholder:"00-00-0000", style:"width:180px; background-color:#e1f2f1", id: "hasta") %>
<br><br>
  
</div>

<div class="col-md-2">
  <button type="submit" class="btn btn-info pull-right" style="margin-top:30px;">Ver Estado</button>

</div>

<div class="col-10">

</div>

</div>

  <% end %>
</div>
</div>

<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">

    <table id="table_report">
        <thead style="background-color:#191b1c; color:white;">
        <th style="text-align:center;"><b>No.</b></th><th style="text-align:center;">Punto de Ventas</th><th style="text-align:center;">Transaccion</th><th style="text-align:center;">Monto</th><th style="text-align:center;">Balance Ant.</th><th style="text-align:center;">Balance Fin.</th><th style="text-align:center;">Fecha</th><th style="text-align:center;">Hora</th>
        </thead>
        <tbody>
        <% @result.each do |r|
        fecha = r.created_at.to_s.split(" ")
        %>
            <tr>
                <td><%=r.id%></td>
                <td style="text-align:center;"><a href="/pos/<%= r.po.id %>"><%= r.po.description %></a></td>
                <td style="text-align:center;">
                    <% if r.type_t == "bill_in" %>
                    <span class="badge badge-info">Entrada</span>
                    <% elsif r.type_t == "bill_out" %>
                    <span class="badge badge-danger">Salida</span>
                    <% elsif r.type_t == "cobro" %>
                    <span class="badge badge-primary">Cobro</span>
                    <% end %>
                </td>
                <td style="text-align:center;"><%= number_to_currency(r.amount) %></td>
                <td style="text-align:center;"><%= number_to_currency(r.bal_ant) %></td>
                <td style="text-align:center;"><%= number_to_currency(r.bal_end) %></td>
                <td style="text-align:center;"><%= fecha[0]%></td>
                <td style="text-align:center;"><%= fecha[1]%></td>
            </tr>
        <% end %>
        </tbody>
    </table>

</div>

<script>
$("select").select2({width:180})
$("#desde").datepicker({format: "yyyy-mm-dd"});
$("#hasta").datepicker({format: "yyyy-mm-dd"});

$("#table_report").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});
</script>