<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">

<h4 style="margin:10px;">Rep. Inventario</h4>
<div class="" style="width:100%; min-height:100px;color:yellow; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>

  <%= form_tag("/general_q", :method => "get") do %>
<div class="row" style="margin-left:10px;">
<div class="col-md-2">
<b>Producto</b>

    <%= select_tag "producto", options_from_collection_for_select(Product.where(user_id: current_user.id), "id", "description"), prompt: 'Todas'%>

</div>

<div class="col-md-2">
<b>Deposito</b>
  
  <%= select_tag "status", raw("<option value=''>Todo</option><option value='1'>En almacen</option><option value='2'>Puntos de Ventas</option>")%>

</div>

<div class="col-md-2">

    <button type="submit" class="btn btn-info pull-right" style="margin-top:15px;">Filtrar</button>

</div>


</div>
<% end %>
</div>
</div>

<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">
<table class="table table-stripped">
<thead>
<th>Code</th><th>Producto</th><th>Marca</th><th>Modelo</th><th>Categoria</th><th>Catidad</th><th>Almacen</th><th># Ref</th>
</thead>
<tbody>
<tr>
<td>1</td><td>Claro</td><td>China T1</td><td>At 1</td><td>Buena Calida</td><td>12</td><td>Almacen 1</td><td>1585969</td>
</tr>
</tbody>
</table>

<%= pie_chart Zone.group_by_day_of_week(:created_at, format: "%a").count %>

</div>

<script>

//Activando los select
$("select").select2({width:180})

</script>