<% unless request.format.to_sym == :pdf %>
<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">

<h4 style="margin:10px;">Rep. Reparaciones</h4>

<div class="" style="width:100%; min-height:110px;color:yellow; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>
  <%= form_tag("/reparaciones_q", :method => "get") do %>
<div class="row" style="margin-left:10px;">
<div class="col-md-2">
<b>Desde:</b>
        <%= text_field_tag(:desde, @desde, class:"form-control", placeholder:"00-00-0000", style:"", id: "desde") %>

</div>
<div class="col-md-2">
<b>Hasta:</b>
        <%= text_field_tag(:hasta, @hasta, class:"form-control", placeholder:"00-00-0000", style:"", id: "hasta") %>

</div>

<div class="col-md-2">
    <button type="submit" class="btn btn-info pull-right" style="margin-top:20px;">Filtrar</button>

</div>

</div>
  <% end %>
</div>

</div>

<% end %>

<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">
<table class="table table-stripped">
<thead>
<th>Code</th><th>Punto de Venta</th><th>Comentario</th><th>Fecha</<th><th>Hora</th>
</thead>
<tbody>
<% @result.each do |r|
fecha = r.created_at.to_s.split(" ")

%>
<tr>
<td><%=r.id%></td>
<td><%=r.po.description%></td>
<td><%=r.comment%></td>
<td><%=fecha[0]%></td>
<td><%=fecha[1]%></td>
</tr>

<% end %>
</tbody>
</table>



</div>

<script>

$("#desde").datepicker({format: "yyyy-mm-dd"});
$("#hasta").datepicker({format: "yyyy-mm-dd"});
</script>
