<style>

#filter select{
  display:inline-block !important;
  margin:10px;
}

#filter span{
  display:inline-block !important;
}

#bfilter button{
    display:inline-block !important;
margin:10px;
}

#date_filter input{
      margin:10px 40px;
}

#date_filter{
  font-weight:bold;
}
</style>

<div id="app">
<div class="" style="width:100%; min-height:5em; background-color:black; color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Reporte de Ventas</h4>
<div class="" style="width:100%; min-height:110px;color:black;    background-color:white;
  border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>
  <%= form_tag("/ventas_q", :method => "get") do %>
  <div class="row" style="margin-left:10px;">
<div class="col-md-10">
<div class="row">
<div class="col-md-12" id="filter">
Consorcio:
<select style="height:30px; background-color:#000c4a; color:white;" name="casinos" v-model="casinos_m">
<option value="0">Todos</option>
<option v-for="casino in casinos_ar" :value="casino.id">{{ casino.description}}</option>
</select>
Zona:
<select style="height:30px; background-color:#000c4a; color:white;" name="zona" v-on:change="changeItem($event)" v-model="zonas_m">
<option value="0">Zona</option>
<option v-for="zona in zonas_ar" :value="zona.id">{{ zona.description}}</option>
</select>
Dueño:
<select style="height:30px; background-color:#000c4a; color:white;" name="pos" v-model="pos_m">
<option value="0">Dueño</option>
<option v-for="pos in pos_ar" :value="pos.id">{{ pos.description}}</option>
</select>

Modelo:
<select style="height:30px; background-color:#000c4a; color:white;" name="pos" v-model="pos_m">
<option value="0">Dueño</option>
<option v-for="pos in pos_ar" :value="pos.id">{{ pos.description}}</option>
</select>

</div>

<br>

</div>
<br><br>
</div>

<div class="col-md-8" style="margin-top:-50px; "id="date_filter">


Desde:
        <%= text_field_tag(:desde, @desde, class:"", placeholder:"00-00-0000", style:"width:150px; background-color:#e1f2f1;", id: "desde") %>
<br>

Hasta:        <%= text_field_tag(:hasta, @hasta, class:"", placeholder:"00-00-0000", style:"width:150px; background-color:#e1f2f1", id: "hasta") %>
<br>

<br>

</div>

<div class="col-md-12" id="bfilter">

<div class="col-md-12">
<button type="submit" class="btn  float-left" style="margin-top:-5px; background-color:#244fa5;">Ver Ventas</button>


<button type="submit" class="btn float-left" style="margin-top:-5px; background-color:#244fa5;">Procesar Ventas de Hoy</button>


<button type="submit" class="btn float-left" style="margin-top:-5px; background-color:#244fa5;">Procesar Ventas Ayer</button>
<br><br>

</div>



</div>

 <div id="myChart" style="position:absolute; right:0;width:30%;  height:250px; float:right;">
 
 </div>


<div class="col-10">

</div>

</div>

  <% end %>
</div>
</div>

<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px; border-radius:10px;">
<br>
<table id="table_report" class="display">
<thead style=" background-color:black; color:white; ">
<th style="width:160px; text-align:center;"><b>Dueño</b></th><th style="text-align:center;"><b>Codigo</b></th><th style="text-align:center;"><b>Estado</b></th><th style="text-align:center;"><b>IN</b></th><th style="text-align:center;"><b>OUT</b></th><th style="text-align:center;"><b>Credito</b></th><th style="text-align:center;"><b>Comision</b></th><th style="text-align:center;"><b>Final</b></th><th style="text-align:center;"><b>Rojo Acomulado</b></th><th style="text-align:center;"><b>Fondo</b></th>
</thead>

<tbody>
<tr style="text-align:center;">
<td>Porfirio MD</td><td>01</td><td><center><i class="fa fa-power-off" style="color:green; "></i></center></td><td style="background-color:#ADD9E6; color:#354F82;">$10.00</td><td style="background-color:#FECCCB;color:#E6586E;">$2.00</td><td>2</td><td>$3.00</td><td>$8.00</td><td>$0.00</td><td>$0.00</td>
</tr>
<tr style="text-align:center;">
<td>Muelel MD</td><td>02</td><td><center><i class="fa fa-power-off" style="color:green;"></i></center></td><td style="background-color:#ADD9E6; color:#354F82;">$10.00</td><td style="background-color:#FECCCB;color:#E6586E;">$2.00</td><td>2</td><td>$3.00</td><td>$8.00</td><td>$0.00</td><td>$0.00</td>
</tr>
<tr style="text-align:center;">
<td>Perla MSG</td><td>03</td><td><center><i class="fa fa-power-off" style="color:red;"></i></center></td><td style="background-color:#ADD9E6; color:#354F82;">$10.00</td><td style="background-color:#FECCCB;color:#E6586E;">$2.00</td><td>2</td><td>$3.00</td><td>$8.00</td><td>$0.00</td><td>$0.00</td>
</tr>

<tr style="font-weight:bold;">
<td style="background-color:white;color:black;"><b>Total:</b></td><td style="background-color:white;color:black;"></td><td style="background-color:white;color:black;"></td><td style="background-color:white;color:black;"></td><td style="background-color:white;color:black; text-align:center;">$0.00</td><td style="background-color:white;color:black; text-align:center;">$0.00</td><td style="background-color:white;color:black; text-align:center;">$0.00</td><td style="background-color:white;color:black; text-align:center;">$0.00</td><td></td><td></td>
</tr>
</tbody>
</table>

</div>
</div>



<script>

var app = new Vue({
  el: '#app',
  data: {

        casinos_ar: [],
        zonas_ar: [],
        pos_ar: [],
        zone_selected: 0,
        casinos_m: 0,
        zonas_m: 0,
        pos_m: 0
  },
  methods:
  {
     changeItem: function changeItem(event) 
     {
        axios
        .get('/api/getPOSZone/'+event.target.value)
        .then(response => (this.pos_ar = response.data.data))
     }
  },
  mounted()
  {
         axios
        .get('/api/getZones/')
        .then(response => (this.zonas_ar = response.data.data))
  }

})

$("#desde").datepicker({format: "yyyy-mm-dd", autoHide: true});
$("#hasta").datepicker({format: "yyyy-mm-dd", autoHide: true});

$("#table_report").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": true
});


//===============================================================>
// Manejo de vue js
//==============================================================>
//Doable
//

    var myConfig = 
            {
                "type": "line",
                "utc": true,
                "title": {
                    "text": "Ventas",
                    "font-size": "24px",
                    "adjust-layout":true
                },
                "plotarea": {
                    "margin": "dynamic 45 60 dynamic",
                },
                "legend": {
                    "layout": "float",
                    "background-color": "none",
                    "border-width": 0,
                    "shadow": 0,
                    "align":"center",
                    "adjust-layout":true,
                  	"toggle-action": "remove",
                    "item":{
                      "padding": 7,
                      "marginRight": 17,
                      "cursor":"hand"
                    }
                },
                "scale-x": {
                    "min-value": 1383292800000,
                    "shadow": 0,
                    "step": 3600000,
                    "transform": {
                        "type": "date",
                        "all": "%D, %d %M<br />%h:%i %A",
                        "guide": {
                            "visible": false
                        },
                        "item": {
                            "visible": false
                        }
                    },
                    "label": {
                        "visible": false
                    },
                    "minor-ticks": 0
                },
                "scale-y": {
                    "line-color": "#f6f7f8",
                    "shadow": 0,
                    "guide": {
                        "line-style": "dashed"
                    },
                    "label": {
                        "text": "Page Views",
                    },
                    "minor-ticks": 0,
                    "thousands-separator": ","
                },
                "crosshair-x": {
                    "line-color": "#efefef",
                    "plot-label": {
                        "border-radius": "5px",
                        "border-width": "1px",
                        "border-color": "#f6f7f8",
                        "padding": "10px",
                        "font-weight": "bold"
                    },
                    "scale-label": {
                        "font-color": "#000",
                        "background-color": "#f6f7f8",
                        "border-radius": "5px"
                    }
                },
                "tooltip": {
                    "visible": false
                },
                "plot": {
                    "highlight":true,
                    "tooltip-text": "%t views: %v<br>%k",
                    "shadow": 0,
                    "line-width": "2px",
                    "marker": {
                        "type": "circle",
                        "size": 3
                    },
                    "highlight-state": {
                        "line-width":3
                    },
                    "animation":{
                      "effect":1,
                      "sequence":2,
                      "speed":100,
                    }
                },
                "series": [
                    {
                        "values": [
                            149.2,
                            174.3,
                            187.7,
                            147.1,
                            129.6,
                            189.6,
                            230,
                            164.5,
                            171.7,
                            163.4,
                            194.5,
                            200.1,
                            193.4,
                            254.4,
                            287.8,
                            246,
                            199.9,
                            218.3,
                            244,
                            312.2,
                            284.5,
                            249.2,
                            305.2,
                            286.1,
                            347.7,
                            278,
                            240.3,
                            212.4,
                            237.1,
                            253.2,
                            186.1,
                            153.6,
                            168.5,
                            140.9,
                            86.9,
                            49.4,
                            24.7,
                            64.8,
                            114.4,
                            137.4
                        ],
                        "text": "IN",
                        "line-color": "#007790",
                        "legend-item":{
                          "background-color": "#007790",
                          "borderRadius":5,
                           "font-color":"white"
                        },
                        "legend-marker": {
                            "visible":false
                        },
                        "marker": {
                            "background-color": "#007790",
                            "border-width": 1,
                            "shadow": 0,
                            "border-color": "#69dbf1"
                        },
                        "highlight-marker":{
                          "size":6,
                          "background-color": "#007790",
                        }
                    },
                    {
                        "values": [
                            714.6,
                            656.3,
                            660.6,
                            729.8,
                            731.6,
                            682.3,
                            654.6,
                            673.5,
                            700.6,
                            755.2,
                            817.8,
                            809.1,
                            815.2,
                            836.6,
                            897.3,
                            896.9,
                            866.5,
                            835.8,
                            797.9,
                            784.7,
                            802.8,
                            749.3,
                            722.1,
                            688.1,
                            730.4,
                            661.5,
                            609.7,
                            630.2,
                            633,
                            604.2,
                            558.1,
                            581.4,
                            511.5,
                            556.5,
                            542.1,
                            599.7,
                            664.8,
                            725.3,
                            694.2,
                            690.5
                        ],
                        "text": "Comision",
                        "line-color": "#009872",
                        "legend-item":{
                          "background-color": "#009872",
                          "borderRadius":5,
                           "font-color":"white"
                        },
                        "legend-marker": {
                            "visible":false
                        },
                        "marker": {
                            "background-color": "#009872",
                            "border-width": 1,
                            "shadow": 0,
                            "border-color": "#69f2d0"
                        },
                        "highlight-marker":{
                          "size":6,
                          "background-color": "#009872",
                        }
                    },
                    {
                        "values": [
                            536.9,
                            576.4,
                            639.3,
                            669.4,
                            708.7,
                            691.5,
                            681.7,
                            673,
                            701.8,
                            636.4,
                            637.8,
                            640.5,
                            653.1,
                            613.7,
                            583.4,
                            538,
                            506.7,
                            563.1,
                            541.4,
                            489.3,
                            434.7,
                            442.1,
                            482.3,
                            495.4,
                            556.1,
                            505.4,
                            463.8,
                            434.7,
                            377.4,
                            325.4,
                            351.7,
                            343.5,
                            333.2,
                            332,
                            378.9,
                            415.4,
                            385,
                            412.6,
                            445.9,
                            441.5
                        ],
                        "text": "OUT",
                        "line-color": "#da534d",
                        "legend-item":{
                          "background-color": "#da534d",
                          "borderRadius":5,
                          "font-color":"white"
                        },
                        "legend-marker": {
                            "visible":false
                        },
                        "marker": {
                            "background-color": "#da534d",
                            "border-width": 1,
                            "shadow": 0,
                            "border-color": "#faa39f"
                        },
                        "highlight-marker":{
                          "size":6,
                          "background-color": "#da534d",
                        }
                    }
                ]
            };
     
    zingchart.render({ 
    	id : 'myChart', 
    	data : myConfig, 
    	height: '100%', 
    	width: '100%' 
    });


</script>