<style>
#shop_t i{

  font-size:28px;

}
</style>

<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/cobros">Cobros</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar / Editar</li>
  </ol>
</nav>

<%= form_with(model: cobro, local: true) do |form| %>
  <% if cobro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cobro.errors.count, "error") %> prohibited this cobro from being saved:</h2>

      <ul>
      <% cobro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row" id="shop_t">



  <div class="col-md-3 offset-md-1">
  <div class="card card-body bg-white">
<center>
  <i class="fa fa-comments-dollar" style="color:#32a852;"></i><br>
  <h6 id="entrega">$0.00</h6>

</center>


  </div>
  </div>


  <div class="col-md-3">
  <div class="card card-body bg-white">
<center>
    <i class="fa fa-hand-holding-usd" style="color:#ed8524;"></i><br>
  <h6 id="comision">$0.00</h6>
</center>




  </div>
  </div>


  <div class="col-md-3">
  <div class="card card-body bg-white">
<center>
<h5 style="color:#912810;">Total</h5>
<h6 id="complete">$0.00</h6>
</center>



  </div>

  <br><br>


  </div>



  
  </div>

<div class="card card-body bg-white col-md-12">
<h2 class="text-muted">Cobros</h2>
<hr>

<table class="table table-striped">
<thead class="text-yellow " style="background-color:#191b1c; color:yellow;">
<th>Cobrador</th><th>Punto de Venta</th><th>Entrega</th><th>Comision</th>
</thead>

<tbody>
<tr>
      <td>

             <%=
    form.collection_select(
    :cobradore_id, # field name

    Cobradore.where(user_id: current_user.id), 
    # then you should specify methods for generating options
    :id, # this is name of method that will be called for every row, result will be set as key
    :name, # this is name of method that will be called for every row, result will be set as value
    :prompt => false # then you can specify some params. You can find them in the docs.
    )
  %>

    </td>

          <td>

    <%=
    form.collection_select(
    :pos_id, # field name

    Po.where(user_id: current_user.id), 
    :id, # this is name of method that will be called for every row, result will be set as key
    :description, # this is name of method that will be called for every row, result will be set as value

    :prompt => false # then you can specify some params. You can find them in the docs.
    )
  %>

    </td>

    <td>
        <%= form.number_field :pago_entrega, class:"form-control", placeholder:"0", style:"width:150px;" %>

    </td>

    <td>
        <%= form.number_field :pago_comision, class:"form-control", placeholder:"0", style:"width:150px;" %>

    </td>
</tr>
</tbody>

</table>


</div>

<br>
<div class="row">

<div class="card card-body bg-white col-md-5 " style="margin-left:15px;">
<h2 class="text-muted">Préstamos Pendientes</h2>
<hr>

<table class="table table-striped">
<thead class="text-yellow " style="background-color:#191b1c; color:yellow;">
<th>Code</th>
<th>Concepto</th>
<th>Monto</th>
<th>Balance</th>


</thead>
<tbody>

<tr>

</tr>

</tbody>
</table>
</div>

<div class="card card-body bg-white col-md-5 offset-md-1">
<h2 class="text-muted">Nuevo Préstamo</h2>
<hr>

<table class="table table-striped">
<thead class="text-yellow " style="background-color:#191b1c; color:yellow;">
<th>Concepto</th>
<th>Monto</th>


</thead>
<tbody>

</tbody>
</table>
</div>

</div>
  <div class="actions"><br><br>
  <center>
   
   <%= form.submit "Realizar Cobro", class:"btn btn-info" %>
  
  </center>
   
  </div>
<% end %>


<script>
$("select").select2({width: 190});

</script>