<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Cobranzas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cobros</li>
  </ol>
</nav>


<h1>Cobros</h1>

<table>
  <thead>
    <tr>
      <th>Cobradore</th>
      <th>Pos</th>
      <th>Pago entrega</th>
      <th>Pago comision</th>
      <th>Pago prestamo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cobros.each do |cobro| %>
      <tr>
        <td><%= cobro.cobradore_id %></td>
        <td><%= cobro.pos_id %></td>
        <td><%= cobro.pago_entrega %></td>
        <td><%= cobro.pago_comision %></td>
        <td><%= cobro.pago_prestamo %></td>
        <td><%= link_to 'Show', cobro %></td>
        <td><%= link_to 'Edit', edit_cobro_path(cobro) %></td>
        <td><%= link_to 'Destroy', cobro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cobro', new_cobro_path %>
