<p id="notice"><%= notice %></p>

<p>
  <strong>Cobradore:</strong>
  <%= @cobro.cobradore_id %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @cobro.pos_id %>
</p>

<p>
  <strong>Pago entrega:</strong>
  <%= @cobro.pago_entrega %>
</p>

<p>
  <strong>Pago comision:</strong>
  <%= @cobro.pago_comision %>
</p>

<p>
  <strong>Pago prestamo:</strong>
  <%= @cobro.pago_prestamo %>
</p>

<%= link_to 'Edit', edit_cobro_path(@cobro) %> |
<%= link_to 'Back', cobros_path %>
