<% if current_user.level == 1 %>
  <%=render partial:'estadistics/welcome' %>
<% elsif current_user.level == 4 %>
<%=render partial:'pos/home' %>
<% elsif current_user.level == 3 %>
<%=render partial:'layouts/Parts/menu_cobros' %>
<% elsif current_user.level == 2 %>
<%=render partial:'layouts/Parts/menu_consorcios' %>
<% end %>