<tr class="nested-fields">

<td>
 <%= f.number_field :credit, class:"form-control from_time", style:"width:100px;", placeholder:"$0.00" %>

</td>

<td>
 <%= f.number_field :equivale_in, class:"form-control from_time", style:"width:100px;", placeholder:"$0.00" %>

</td>

<td>
 <%= f.number_field :equivalen_out, class:"form-control from_time", style:"width:100px;", placeholder:"$0.00" %>

</td>

  <td>
    <%= link_to_remove_association "x", f, class: 'btn btn-danger btn-xs', style:"margin-right:10px;" %>
  </td>
</tr>