<style>
.header_tag{
  width:100%;
  height:30px;
  background-color:#000c4a;
  color:white;
  font-weight:bold;
}

.header_tag span{
  margin-left:10px;
  margin-top:10px;
  clear:both;
}

#map {
position:absolute;
    width:92.5%;
        height: 90%;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}

</style>

<%= form_with(model: po, local: true) do |form| %>
  <% if po.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(po.errors.count, "error") %> prohibited this po from being saved:</h2>
      <ul>
      <% po.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br><br>

  <div class="float-right">
  <%= link_to "Cancelar", pos_path, class:"btn btn-danger", style:"margin-top:-10px;" %>
    
    <%= form.submit "Guardar & Enviar", class:"btn btn-info", style:"margin-top:-10px; margin-right:20px;" %>

  </div>

  <h4>Puntos de Ventas</h4> 
  <hr>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Punto de Ventas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Ubicacion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Automatizacion</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#config" role="tab" aria-controls="contact" aria-selected="false">Configuracion</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#credit" role="tab" aria-controls="contact" aria-selected="false">Creditos</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#credentials" role="tab" aria-controls="contact" aria-selected="false">Credenciales</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

  <div  style=" position:absolute;width:1024px; min-height:100px;  border:solid 1px #eee; margin-top:20px; left:20%;">

       <div class="row">
<div class="col-md-12">
<h2 style="color:#005969; margin-left:10px; margin-top:10px;">Administracion</h2><hr>
</div>

        <div class="col-md-6">
        <div class="row">
          <div class="col-md-1">
          <i class="fa fa-user float-left" style="margin-top:60px; margin-left:10px; font-size:40px; color:#946a00;"></i>
          
          </div>

          <div class="col-md-11">
       <div  style="width:100%; min-height:100px;  border:solid 1px #eee; margin-top:20px;">

             <table class="table" style="float:left; margin-top:0px; color:#946a00;">
          <thead>
          <th>Encargado</th><th>Contacto</th>
          </thead>
          <tbody>
               <tr>
           <td><%= form.text_field :simcard, class:"form-control", placeholder:"Nombre Completo" %></td>

           <td><%= form.number_field :machine, class:"form-control", placeholder:"Numero Telefonico" %></td>     

    </tr>
          </tbody>
          </table>

</div>

          </div>


          </div>

      
      </div>
   <div class="col-md-6">

   <div class="alert alert-warning" role="alert" style="margin-top:20px;">
 <b>Nota:</b> Inidique un nombre y numero de contacto del punto de ventas, esta informacion sera utilizada para fines de resoluciones de problemas por parte de nuestro equipo de servicio al cliente.
</div>


   </div>

       <div class="col-md-6">
        <div class="row">
          <div class="col-md-1">
          <i class="fa fa-dollar-sign float-left" style="margin-top:60px; margin-left:10px; font-size:40px; color:#008f34;"></i>
          
          </div>

          <div class="col-md-11">
       <div  style="width:100%; min-height:100px;  border:solid 1px #eee; margin-top:20px;">

             <table class="table" style="float:left; margin-top:0px; color:#008f34;">
          <thead>
          <th>Balance Actual</th><th>Comision</th>
          </thead>
          <tbody>
               <tr>
           <td><%= form.number_field :simcard, class:"form-control", placeholder:"$ 0.00", style:"width:150px;" %></td>
           <td><%= form.number_field :machine, class:"form-control", placeholder:"%", style:"width:130px;" %></td>
          
    
    </tr>
          </tbody>
          </table>

</div>

          </div>


          </div>

      
      </div>

      <div class="col-md-6">
      
   <div class="alert alert-success" role="alert" style="margin-top:20px;">
 <b>Nota:</b> Para fines contable del sistema, si el punto de venta esta ya operativo, por favor introduza el balance en caja hasta este momento y introduzca el porcentaje de comision o ganacia del POS.
</div>
      </div>


     </div>


  </div>
  </div>



  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      <div  style=" position:absolute;width:1024px; min-height:100px;  border:solid 1px #eee; margin-top:20px; left:20%;">
        <div class="row">

         <div class="col-md-12">
<h2 style="color:#005969; margin-left:10px; margin-top:10px;">Ubicacion</h2><hr>
</div>



      <div class="col-md-6">
    

          <div class="row">
          <div class="col-md-1">
          <i class="fa fa-map-marker-alt float-left" style="margin-top:40px; margin-left:10px; font-size:40px; color:#e05600;"></i>
          
          </div>
           <div class="col-md-10">

       <div  style="width:100%; min-height:100px;  border:solid 1px #eee; margin-top:10px;">

            <table class="table" style="float:left;  color:#e05600;">
          <thead>
          <th>Logitud</th><th>Latitud</th><th>Verificar</th>
          </thead>
          <tbody>
              <%= form.fields_for :locations do |location|%>
               <tr>
           <td><%= location.number_field :logitud, class:"form-control", placeholder:"-70.00000", id: "lon_edit" %></td>
           <td><%= location.number_field :latitud, class:"form-control", placeholder:"19.00000", id: "lat_edit" %></td>
           <td>
           <button class="btn btn-danger" type="button" id="verificar">
           Verificar
           </button>
           </td>
    
    </tr>
              <% end %>
          </tbody>
          </table>

 </div>

          </div>
          </div>

        


       <br>
           <div class="row">
          <div class="col-md-1">
          <i class="fa fa-layer-group float-left" style="margin-top:40px; margin-left:10px; font-size:40px; color:#00a5b8;"></i>
          
          </div>
           <div class="col-md-10">

       <div  style="width:100%; min-height:100px;  border:solid 1px #eee; margin-top:10px;">

            <table class="table" style="float:left; color:#00a5b8;">
          <thead>
          <th>Casino</th><th>Zona</th>
          </thead>
          <tbody>
          <tr>
            <td>
  <%=
    form.collection_select(
    :consortium_id, # field name
   Consortium.where(user_id: current_user.id), 

    :id,
    :description
    )
  %>
  </td>

             <td>
  <%=
    form.collection_select(
    :zone_id, 
   Zone.where(user_id: current_user.id), 

    :id, 
    :description

    )
  %>
  </td>
          </tr>
          </tbody>
          </table>

 </div>

          </div>
          </div>

      
      </div>


       <div class="col-md-6">
       <div  style="width:100%; min-height:350px;  border:solid 0px #eee; margin-top:10px;">

        <div id="map">

      </div>
      
      </div>
     
     </div>


        </div>



      </div>

  </div>
  
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

      <div  style=" position:absolute;width:1024px; min-height:100px;  border:solid 1px #eee; margin-top:20px; left:20%;">

    <div class="row">
         <div class="col-md-12">
<h2 style="color:#005969; margin-left:10px; margin-top:10px;">Automatizacion</h2><hr>
</div>

      <div class="col-md-6">
      <div  style="width:100%; min-height:100px;  border:solid 1px #eee; margin-top:10px;">
       <table class="table">
       <thead>
       <th>Activar</th><th><b>Atencion</b></th>
       </thead>
       <tbody>
       <tr>
       <td>
       <%=form.check_box :hours, class: "form-control"%>
       </td>
       <td>
       <div class="alert alert-danger" role="alert">
      Si activa esta opcion, el apagado y/o encendido de este punto de ventas se realizara automatizadamente en el rango de fecha que establezca
</div>
       </td>
       </tr>
       </tbody>
       </table>

      </div>
      </div>
     <div class="col-md-6">
       <div  style="width:100%; min-height:200px; max-height:500px;  border:solid 1px #eee; margin-top:10px; overflow-y:auto; overflow-x:hidden;">
        <%= link_to_add_association 'Agregar', form, :hours, class: 'btn btn-danger float-right', data: { association_insertion_node: '.hours', association_insertion_method: :append }, style:"margin-right:10px; margin-top:2px;" %>
<h6 class="text-muted" style="margin-top:10px; margin-left:10px;">Horario</h6>
<hr>
<br>
            <table class="table" id="" style="margin-top:-20px;">
            <thead style="background-color:#191b1c; color:white; ">
            <th width="90">Dia</th><th>Desde</th><th>Hasta</th><th></th>
            </thead>
            <tbody  class='hours'>
           <%= form.fields_for :hours do |builder| %>
           <%= render 'hour_fields', f: builder %>
           <% end %>


            </tbody>
            </table>
      </div>
      <br><br>
      </div>
    
    </div>
      
      </div>
      



  </div>


  <div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="profile-tab">
          <div  style=" position:absolute;width:1024px; min-height:100px;  border:solid 1px #eee; margin-top:20px; left:20%; ">

    <div class="row">
         <div class="col-md-12">
      <h2 style="color:#005969; margin-left:10px; margin-top:10px;">Configuracion</h2><hr>
      </div>
      </div>


      <div class="row">
          <div class="col-md-4">
            <center>
              <i class="fas fa-wifi" style="font-size:72px; color:#12c0db;"></i>
              <h6 class="text-muted">Conectividad</h6>
            </center>
      </div>

       <div class="col-md-7">
      <div class="" style="background-color:white; width:100%;height:80px; border:solid 1px #eee;">
        <table id="table_connect">
            <thead style="background-color:#191b1c; color:white; ">
            <th>SSD</th> <th>Password</th> <th>Default</th>
            </thead>
            <tbody>
              <tr>
                <td><%= form.text_field :wifi_ssd, class:"form-control", placeholder:"Ej: Claro2584", style:"width:180px;" %></td>
                <td><%= form.password_field :wifi_password, class:"form-control", placeholder:"Ej: jose015", style:"width:180px;" %></td>
              <td>
            
               
                <%= form.radio_button :connect_default, 1 %>
                 <%= form.label :connect_default, "Wifi", :value => 1  %>

                
                <%= form.radio_button :connect_default, 2, :checked => true %>
                <%= form.label :connect_default, "Datos", :value => 2 %>
              </td>
              
              </tr>

            </tbody>
            </table>
      </div>
      </div>

      
      </div>
<br><br>

            <div class="row">
          <div class="col-md-4">
            <center>
              <i class="fas fa-barcode" style="font-size:72px;"></i>
              <h6 class="text-muted">Dispositivos</h6>

            </center>
      </div>

       <div class="col-md-7">
         <div class="" style="background-color:white; width:100%;height:80px; border:solid 1px #eee;">
           <table id="table_barcode">
            <thead style="background-color:#191b1c; color:white; ">
            <th>Sim Card</th> <th>Dispotivo</th> <th>Verificado</th>
            </thead>
            <tbody>
              <tr>
                <td>
                <%= form.text_field :simcard, class:"form-control", placeholder:"0000000000000", style:"width:180px;" %>
                              <i class="fas fa-times-circle" style="color:red; font-size:18px;"></i>

                </td>
                <td><%= form.text_field :machine, class:"form-control", placeholder:"0000000000000", style:"width:180px;" %>
                                              <i class="fas fa-times-circle" style="color:red; font-size:18px;"></i>

                </td>
              <td>

              <center>
              <i class="fas fa-times-circle" style="color:red; font-size:22px;"></i>
              </center>
            
              </td>
              
              </tr>

            </tbody>
            </table>
      </div>
      </div>

      
      </div>
<br><br>
            <div class="row">
          <div class="col-md-4">
            <center>
              <i class="fas fa-wallet" style="font-size:72px; color:#5e5b53;"></i>
              <h6 class="text-muted">Billetero</h6>
            </center>
      </div>

       <div class="col-md-7">
         <div class="" style="background-color:white; width:100%;height:80px; border:solid 1px #eee;">
       <table id="table_monedero">
            <thead style="background-color:#191b1c; color:white; ">
            <th>Tipo de Billeteros</th>
            </thead>
            <tbody>
              <tr>
                <td>
                   <%= form.select :bill_type, [["Moneda-Token","1"],["Billetes-Token","2"]], class:"form-control" %>

                </td>
             
              </tr>

            </tbody>
            </table>
      </div>
      </div>

      
      </div><br><br>

              <div class="row">
          <div class="col-md-4">
            <center>
              <i class="fas fa-dice" style="font-size:72px; color:#c93208;"></i>
              <h6 class="text-muted" style="margin-top:8px;">Tipo de Máquina</h6>
            </center>
      </div>

       <div class="col-md-7">
         <div class="" style="background-color:white; width:100%;height:80px; border:solid 1px #eee;">
         <table id="table_modelos">
            <thead style="background-color:#191b1c; color:white; ">
            <th>Marca</th> <th>Modelo</th>
            </thead>
            <tbody>
              <tr>
                <td>
                      <%=
                        form.collection_select(
                        :brand_id, 
                      Brand.where(user_id: current_user.id), 

                        :id, 
                        :description

                        )
                      %>

                </td>

                  <td>
                   <%=
                        form.collection_select(
                        :modelo_id, 
                      Modelo.where(user_id: current_user.id), 

                        :id, 
                        :description

                        )
                      %>

                </td>
             
              </tr>

            </tbody>
            </table>
      </div>
      </div>

      
      </div>

          </div>
  </div>
  <div class="tab-pane fade" id="credit" role="tabpanel" aria-labelledby="profile-tab">
        <div  style=" position:absolute;width:600px; min-height:100px;  border:solid 1px #eee; margin-top:20px; left:30%; ">

    <div class="row">
         <div class="col-md-12">
      <h2 style="color:#005969; margin-left:10px; margin-top:10px;">Creditos</h2>
      <%= link_to_add_association 'Agregar', form, :credits, class: 'btn btn-danger float-right', data: { association_insertion_node: '.credits', association_insertion_method: :append }, style:"margin-right:10px; margin-top:-35px;" %>

      <hr>

        <table id="table_credit" class="table">
       <thead style="background-color:#191b1c; color:white; ">
        <th>Creditos</th><th>Equivalencia - IN</th><th>Equivalencia - OUT</th><th></th>
        </thead>
        <tbody  class='credits'>
          <%= form.fields_for :credits do |builder| %>
           <%= render 'credit_fields', f: builder %>
           <% end %>

        </tbody>

        </table>
      
      </div>
      </div>
         </div>
  
  </div>
  <div class="tab-pane fade" id="credentials" role="tabpanel" aria-labelledby="contact-tab">
  
          <div  style="width:90%; min-height:100px;  border:solid 1px #eee; margin-top:20px;  margin-left:4.5%;">

    <div class="row">
         <div class="col-md-12">
      <h2 style="color:#005969; margin-left:10px; margin-top:10px;">Accesos</h2>
      <%= link_to_add_association 'Agregar', form, :users, class: 'btn btn-danger float-right', data: { association_insertion_node: '.users', association_insertion_method: :append }, style:"margin-right:10px; margin-top:-35px;" %>

      <hr>

        <table id="table_users" class="table">
       <thead style="background-color:#191b1c; color:white; ">
        <th>Nombre</th><th>Email</th><th>Usuario</th><th>Contraseña</th><th>Confirmacion contraseña</th><th></th>
        </thead>
        <tbody  class='users'>
          <%= form.fields_for :users do |builder| %>
           <%= render 'user_fields', f: builder %>
           <% end %>

        </tbody>

        </table>
      
      </div>
      </div>
         </div>

  </div>
</div>







<% end %>


<script>
$("#st").steps({
    headerTag: "h3",
    bodyTag: "section",
    transitionEffect: "slideLeft",
   
});

$("select").select2({width:180}) 

//Agregando la validacion de 
</script>


 <script>
      var map;
      var markers = [];


            function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 18.735693, lng: -70.1626511},
          zoom: 5,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: true,
            fullscreenControl: false
        });
      }


      $("#verificar").click(function(){
        var lat_edit = $("#lat_edit").val();
        var lon_edit = $("#lon_edit").val();

        if (lat_edit != "" && lon_edit != "") {
          var myLatLng = {lat: parseFloat(lat_edit), lng: parseFloat(lon_edit)};
           var center = new google.maps.LatLng(parseFloat(lat_edit), parseFloat(lon_edit));
                map.panTo(center);

                 var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Ubicado aqui'
                });

        } else {
          var notice = PNotify.error({
          title: "Upss",
          text: "Direccion satelital debe existir",
          icon: 'fa fa-exclamation-triangle',
          textTrusted: true
        });  
        }
        
      });

      $("#table_connect").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});

      $("#table_barcode").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});

      $("#table_monedero").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});

     $("#table_modelos").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPnrvcjS1ZSJ8UIvS_4O-Crum13A-x2Dk&callback=initMap"
    async defer></script>
