
<%
 ultimo_cobro = Transation.where(po_id: current_user.po_id).where(type_t: "cobro")
 transacciones = []
    if ultimo_cobro.count > 0
    cobro = ultimo_cobro.last
       transacciones = Transation.where(po_id: current_user.po_id).where("created_at BETWEEN ? AND ?", cobro.created_at.to_s, Time.now)
    else
        transacciones = Transation.where(po_id: current_user.po_id)
    end


if transacciones.size > 0
in_ = transacciones.where(type_t: "bill_in").sum(:amount)
out_ = transacciones.where(type_t: "bill_out").sum(:amount)

else
    in_ = 0
    out_ = 0

end
total = in_ - out_
comision = current_user.po.comision / 100.0
if total > 0
 comision_actual = total * comision    
else
   comision_actual = 0 
end
  
%>
<style>
.cuadros i{
color:white !important;
font-size:24px;
margin-top:10px;

}

.cuadros h3{
    color:white;
    font-size:20px;
    margin-top:10px;
}
</style>

<div class="row t" style="color:white;">
<div class="col-md-6">
<h3 class="text-muted" style="margin-top:25px;">Bienvenido(a) Sr.(a) <%= current_user.name%></h3>
</div>
<div class="col-md-6">

<div class="row">
<div class="col-md-4">
<div class="cuadros"  style="background-color:blue; height:80px; border:solid 0px; margin:10px; ">
<center>
<i class="fa fa-arrow-up" ></i><br>
<h3><%=number_to_currency(in_)%></h3>
<span>(IN)</span>
</center>
</div>
</div>
<div class="col-md-4">
<div class="cuadros" style="background-color:#ed091c; height:80px; border:solid 0px; margin:10px; ">
<center>
<i class="fa fa-arrow-down" ></i><br>
<h3><%=number_to_currency(out_)%></h3>
<span>(OUT)</span>
</center>
</div>
</div>
<div class="col-md-4">
<div class="cuadros" style="background-color:green; height:80px; border:solid 0px; margin:10px; ">
<center>
<i class="fa fa-dollar-sign" ></i><br>
<h3><%=number_to_currency(comision_actual)%></h3>
<span>(COMISION)</span>
</center>
</div>
</div>
</div>

</div>

</div>
<hr>

<div class="row">

<div class="col-md-12">
<div class="col-md-12" style="  background-image: url(bgh.jpg);  height:25em; border:solid 1px; margin:10px; ">
<center><br>
<h6 class="text-muted" >Ventas Diarias</h6>
</center>
<%= column_chart Transation.where(po_id: current_user.po_id).group(:type_t).group_by_day_of_week(:created_at, format: "%a").sum(:amount), prefix: "$" %>

<br>
<br>

</div>
</div>

</div>

<h3 class="text-muted" style="margin-top:25px;">Estado de Cuentas</h3><hr>

<table>
 <thead style="background-color:#191b1c; color:white; text-align:center;">
<th>No.</th><th>Tipo de Transaccion</th><th>Monto</th><th>Balance Anterior</th><th>Balance Final</th><th>Fecha</th><th>Hora</th>
</thead>
<tbody stlye="text-align:center;">
<%transacciones.each do |t|
fecha = t.created_at.to_s.split(" ")
%>
<tr style="text-align:center;">
<td><%=t.id%></td>
  <td style="text-align:center;">
                    <% if t.type_t == "bill_in" %>
                    <span class="badge badge-info">Entrada</span>
                    <% elsif t.type_t == "bill_out" %>
                    <span class="badge badge-danger">Salida</span>
                    <% elsif t.type_t == "cobro" %>
                    <span class="badge badge-primary">Cobro</span>
                    <% end %>
                </td>

                   <td style="text-align:center;"><%= number_to_currency(t.amount) %></td>
                <td style="text-align:center;"><%= number_to_currency(t.bal_ant) %></td>
                <td style="text-align:center;"><%= number_to_currency(t.bal_end) %></td>
                <td style="text-align:center;"><%= fecha[0]%></td>
                <td style="text-align:center;"><%= fecha[1]%></td>
</tr>
<% end %>
</tbody>
</table>

<script>
$("table").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});
</script>