<tr class="nested-fields">

<td>
<%= f.select "day", raw("<option value='monday'>Lunes</option><option value='tuesday'>Martes</option><option value='wednesday'>Miercoles</option><option value='thursday'>Jueves</option><option value='friday'>Viernes</option><option value='saturday'>Sabado</option><option value='sunday'>Domingo</option>")%>

</td>

<td>
 <%= f.text_field :desde, class:"form-control from_time", style:"width:100px;" %>

</td>

<td>
 <%= f.text_field :hasta, class:"form-control to_time", style:"width:100px;" %>

</td>
  <td>
    <%= link_to_remove_association "x", f, class: 'btn btn-danger btn-xs', style:"margin-right:10px;" %>
  </td>
</tr>

<script>
$(".from_time, .to_time").timepicker();

</script>