<tr class="nested-fields">
<td>
 <%= f.text_field :name, class:"form-control ", style:"width:180px;", placeholder:"Ej: Jose Perez" %>

</td>

<td>
 <%= f.text_field :email, class:"form-control ", style:"width:180px;", placeholder:"Ej: jose.perez@xx.com" %>

</td>

<td>
 <%= f.text_field :username, class:"form-control ", style:"width:130px;", placeholder:"Ej:jose.perez" %>

</td>


<td>
 <%= f.password_field :password, class:"form-control ", style:"width:140px;", placeholder:"Clave" %>

</td>

<td>
 <%= f.password_field :password_confirmation, class:"form-control ", style:"width:140px;", placeholder:"Clave Confirmacion" %>

</td>

 <td>
    <%= link_to_remove_association "x", f, class: 'btn btn-danger btn-xs', style:"margin-right:10px;" %>
  </td>

</tr>