
<%
 ultimo_cobro = Transation.where(po_id: @po.id).where(type_t: "cobro")
 transacciones = []
    if ultimo_cobro.count > 0
    cobro = ultimo_cobro.last
       transacciones = Transation.where(po_id: @po.id).where("created_at BETWEEN ? AND ?", cobro.created_at.to_s, Time.now)
    else
        transacciones = Transation.where(po_id: @po.id)
    end


if transacciones.size > 0
in_ = transacciones.where(type_t: "bill_in").sum(:amount)
out_ = transacciones.where(type_t: "bill_out").sum(:amount)

else
    in_ = 0
    out_ = 0

end
total = in_ - out_
comision = @po.comision / 100.0
if total > 0
 comision_actual = total * comision    
else
   comision_actual = 0 
end
  
%>

<div class="row" >

  <div class="col-md-12">

  <div class="row">

    <div class="col-md-8">
      <h3 style="margin-top:15px; margin-left:10px;"><i class="fas fa-laptop"></i> <%=@po.description%></h3>
    </div>
    <div class="col-md-4">
      <div class="row" style="margin-top:20px;">
      
        <div class="col-md-4">
        <% if @po.status == 1 %>
        <i class="fas fa-circle" style="color:#7bd400;"></i>
        <% elsif @po.status == 2%>
        <i class="fas fa-circle" style="color:#db0223;"></i>
                <% elsif @po.status == 3%>
        <i class="fas fa-circle" style="color:#2b2829;"></i>

        <% end %>
        <b>Energia</b>
        </div>

            <div class="col-md-4">
          <% if @po.wifi_status == 1 || @po.data_status == 1 %>
        <i class="fas fa-circle" style="color:#7bd400;"></i>
        <% elsif @po.wifi_status == 0 &&  @po.data_status == 0 %>
        <i class="fas fa-circle" style="color:#db0223;"></i>

        <% end %>
        <b>Internet</b>

        </div>

            <div class="col-md-4">
        <i class="fas fa-circle-notch fa-spin"></i>
                <b>Status</b>

        </div>
      
      </div>
    </div>
  </div>


    <div class="" style="background-color:white; width:100%;min-height:19em; border:solid 1px #eee; margin-top:10px;">
    <center><br>
<h6 class="text-muted" >Ventas Diarias</h6>
</center>
    <%= column_chart Transation.where(po_id: @po.id).group(:type_t).group_by_day_of_week(:created_at, format: "%a").sum(:amount), prefix: "$" %>

    </div>

        <div class="" style="background-color:white; width:100%;min-height:5em; border:solid 0px #eee; margin-top:10px;">
         <div class="row">
           <div class="col-md-4" style="background-color:#029aab; min-height:5em;color:white; margin-left:15px;">
              <center><br>
              <i class="fa fa-arrow-up" style="color:#a60029;"></i><br>
              <h3><%=number_to_currency(in_)%></h3>
              <span>(IN)</span>
              </center>
          </div>

           <div class="col-md-4" style="background-color:#a60029; min-height:5em;color:white;">
              <center><br>
              <i class="fa fa-arrow-down" style="color:#029aab;"></i><br>
              <h3><%=number_to_currency(out_)%></h3>
              <span>(OUT)</span>
              </center>
          </div>

           <div class="col-md-3" style="background-color:#29a802; min-height:5em;color:white; margin-right:15px;">
                <center><br>
                <i class="fa fa-dollar-sign" ></i><br>
                <h3><%=number_to_currency(comision_actual)%></h3>
                <span>(COMISION)</span>
                </center>
          </div>

          <div class="col-md-12">

              <table>
 <thead style="background-color:#191b1c; color:white; text-align:center;">
<th>No.</th><th>Tipo de Transaccion</th><th>Monto</th><th>Balance Anterior</th><th>Balance Final</th><th>Fecha</th><th>Hora</th>
</thead>
<tbody stlye="text-align:center;">
<%transacciones.each do |t|
fecha = t.created_at.to_s.split(" ")
%>
<tr style="text-align:center;">
<td><%=t.id%></td>
  <td style="text-align:center;">
                    <% if t.type_t == "bill_in" %>
                    <span class="badge badge-info">Entrada</span>
                    <% elsif t.type_t == "bill_out" %>
                    <span class="badge badge-danger">Salida</span>
                    <% elsif t.type_t == "cobro" %>
                    <span class="badge badge-primary">Cobro</span>
                    <% end %>
                </td>

                   <td style="text-align:center;"><%= number_to_currency(t.amount) %></td>
                <td style="text-align:center;"><%= number_to_currency(t.bal_ant) %></td>
                <td style="text-align:center;"><%= number_to_currency(t.bal_end) %></td>
                <td style="text-align:center;"><%= fecha[0]%></td>
                <td style="text-align:center;"><%= fecha[1]%></td>
</tr>
<% end %>
</tbody>
</table>
          
          </div>
         </div>
        </div>
  
  </div>


</div>

<script>
$("table").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});
</script>