<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/sectores">Sectores</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar / Editar</li>
  </ol>
</nav>

<center>
<div class="card card-body bg-white col-md-6">
<h2 class="text-muted">Sectores - Agregar / Editar</h2>
<hr>
<%= form_with(model: sectore, local: true) do |form| %>
  <% if sectore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sectore.errors.count, "error") %> prohibited this sectore from being saved:</h2>

      <ul>
      <% sectore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <table class="table table-striped table-hover">
 <thead class="bg-red text-white">
  <th>Descripcion</th><th>Nave</th>  <th>Estado</th>

  </thead>
  <tbody>
  <tr>
  <td>
      <%= form.text_field :description, class:"form-control", placeholder:"Nombre del sector" %>

  </td>
    <td>
  <%=
    form.collection_select(
    :warehouse_id, # field name
    # result of these two params will be: <select name="post[author_id]">...

    # then you should specify some collection or array of rows.
    # It can be Author.where(..).order(..) or something like that. 
    # In your example it is:
    Warehouse.where(user_id: current_user.id), 

    # then you should specify methods for generating options
    :id, # this is name of method that will be called for every row, result will be set as key
    :description, # this is name of method that will be called for every row, result will be set as value

    # as a result, every option will be generated by the following rule: 
    # <option value=#{author.id}>#{author.name_with_initial}</option>
    # 'author' is an element in the collection or array

    :prompt => true # then you can specify some params. You can find them in the docs.
    )
  %>
  </td>
    <td>
   <%= form.select :status, [["Activa","1"],["Inactiva","2"]], class:"form-control" %>

  </td>
  </tr>
  </tbody>
  </table>

  <div class="actions">
    <%= form.submit "Grabar", class:"btn btn-success" %>
    <%= link_to 'Cancelar', sectores_path, class:"btn btn-danger" %>

  </div>
<% end %>

</div>
</center>

