<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sectore.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sectore.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sectore.status %>
</p>

<%= link_to 'Edit', edit_sectore_path(@sectore) %> |
<%= link_to 'Back', sectores_path %>
