<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Mantenimientos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Modelos</li>
  </ol>
</nav>


<div class="card card-body bg-white">
<h2 class="text-muted">Modelos</h2>
<hr>

 <table class="table table-striped table-hover">
        <thead class="bg-red text-white">
    <tr>
      <th>code</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Estado</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @modelos.each do |modelo| %>
      <tr>
        <td><%= modelo.id %></td>
        <td><span class="badge badge-success"><%= modelo.brand.description %></span></td>
        <td><%= modelo.description %></td>
           <td>
        
        <% if modelo.status == 1 %>
        <span class="badge badge-primary">Activa</span>
        <% else %>
        <span class="badge badge-danger">Desactivada</span>

        <% end %>

        </td>
        <td><%= link_to 'Editar', edit_modelo_path(modelo),  class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="m1">

<%= link_to 'Crear Modelo', new_modelo_path, class:"btn btn-primary" %>
</div>
</div>