<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @modelo.user_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @modelo.brand_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @modelo.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @modelo.status %>
</p>

<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', modelos_path %>
