<%= form_with(model: consortium, local: true) do |form| %>
  <% if consortium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consortium.errors.count, "error") %> prohibited this consortium from being saved:</h2>

      <ul>
      <% consortium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div  style="width:100%; min-height:150px; background-color:white; border:solid 0px #eee; margin-top:10px;">
<h2 class="text-muted">Consorcios</h2>
<center>
<hr>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Consorcio</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Acceso</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

  <table class="table table-striped table-hover" style="margin-top:10px;">
  <thead class="text-yellow " style="background-color:#191b1c; color:white;">
  <th>Descripcion</th> <th>Encargado</th><th>Telefono</th>  <th>Estado</th>
  </thead>
  <tbody>
    
    <tr>
      <td><%= form.text_field :description, class:"form-control", placeholder:"Nombre del Consorcio" %></td>
      <td><%= form.text_field :personal, class:"form-control", placeholder:"Nombre Completo" %></td>
      <td><%= form.number_field :phone, class:"form-control", placeholder:"telefono" %></td>
      <td>
      <%= form.select :status, [["Activa","1"],["Inactiva","2"]], class:"form-control" %>
      </td>
    </tr>


  </tbody>
  </table>

 <table class="table table-striped table-hover">
 <thead class="text-yellow " style="background-color:#191b1c; color:white;">
  <th>Utilidad %</th>
  </thead>
  <tbody>
  <tr>
  <td><%= form.number_field :comision_p, class:"form-control", placeholder:"0%", style:"width:150px;" %> </td>
  </tr>

  </tbody>

  </table>

  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <table class="table table-striped">
  <thead class="text-yellow " style="background-color:#191b1c; color:white;">
  <th>Nombre Completo</th><th>Email</th><th>Usuario</th><th>Contraseña</th><th>Confirmacion Contraseña</th>
  </thead>
  <tbody>
    <%= form.fields_for :users do |usuario|%>
    
    <tr>

    <td><%= usuario.hidden_field(:level, :value => 2)%><%= usuario.text_field :name, class:"form-control", placeholder:"Nombre" %></td>
    <td><%= usuario.text_field :email, class:"form-control", placeholder:"Correo" %></td>
    <td><%= usuario.text_field :username, class:"form-control", placeholder:"Usuario" %></td>
    <td><%= usuario.password_field :password, class:"form-control", placeholder:"Password" %></td>
    <td><%= usuario.password_field :password_confirmation, class:"form-control", placeholder:"Confirmation" %></td>
    
    </tr>
        

    <% end %>
  </tbody>

  </table>
</div>

</div>

  <div class="actions">
       <%= form.submit "Grabar", class:"btn btn-success", style:"margin-top:15px;" %>
           <%= link_to 'Cancelar', consortia_path, class:"btn btn-danger", style:"margin-top:15px;" %>
  </div>
<% end %>


</center>

<script>
$("table").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});

//Administracion
//===============>

//Final de la administracion
</script>