<style>


</style>

<div  style="width:100%; min-height:150px; background-color:white; border:solid 0px #eee; margin-top:10px;">
<div class="m1 float-right">

<%= link_to 'Crear Consorcio', new_consortium_path, class:"btn btn-warning", style:"color:black;" %>
</div>
<h3 class="text-muted">Filtros:</h3>
  <%= form_tag("/consortia_q", :method => "get") do %>


   <table id="table1">
 <thead class="" style="background-color:#479622; color:white; font-weight: none;">
 <th style="font-weight: none !important;">Code</th>  <th>Nombre del consorcio</th>  <th>Estado</th><th></th><th></th>

  </thead>
  <tbody>

  <tr>
  <td>
    <%= text_field_tag(:code, @code, class:"form-control", placeholder:"Codigo", style:"width:150px;") %>


  </td>

  <td>
    <%= text_field_tag(:name, @descripcion, class:"", placeholder:"Descripcion", style:"width:250px; height:35px;") %>

  </td>
  <td>
    <%= select_tag "status", raw("<option value='0'>Todos</option><option value='1'>Activos</option><option value='2'>Inactivos</option>")%>

  </td>
  <td>

  </td>
  <td>
    <button type="submit" class="btn btn-info pull-right" style="margin-top:0px;">Filtrar</button>

  </td>
  </tr>


  </tbody>

  </table>


<% end %>

</div><br>


<div  style="width:100%; min-height:150px; background-color:white; border:solid 0px #eee; margin-top:10px;">
<h2 class="text-muted">Consorcios</h2>


   <table class="" id="table2">
 <thead class="" style="background-color:#479622; color:white">
    <tr>
      <th>Code</th>
      <th>Descripcion</th>
      <th>Encargado</th>
      <th>Telefono</th>
      <th>Usuario</th>
      <th>Status</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @consortia.each do |consortium| %>
      <tr>
        <td><%= consortium.id %></td>
        <td><%= consortium.description %></td>
        <td><%= consortium.personal %></td>
        <td><%= consortium.phone %></td>
        <td><%
        consortium.users.each do | usua|
        concat usua.username
        end
        %></td>
        <td>
        
              
        <% if consortium.status == 1 %>
        <span class="badge badge-primary">Activa</span>
        <% else %>
        <span class="badge badge-danger">Desactivada</span>

        <% end %>
        </td>
        <td><%= link_to 'Editar', edit_consortium_path(consortium), class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<script>
$("#table1").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});

$("#table2").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});

</script>