<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @consortium.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @consortium.description %>
</p>

<p>
  <strong>Personal:</strong>
  <%= @consortium.personal %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @consortium.phone %>
</p>

<p>
  <strong>Comision p:</strong>
  <%= @consortium.comision_p %>
</p>

<p>
  <strong>Status:</strong>
  <%= @consortium.status %>
</p>

<%= link_to 'Edit', edit_consortium_path(@consortium) %> |
<%= link_to 'Back', consortia_path %>
