<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="" id="app_loan" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">
<table class="table table-striped">
<thead style="background-color:#191b1c; color:white;">
<th style="width:100px;">Zona</th><th style="width:100px;">POS</th><th style="width:150px;">Cantidad Prestada</th><th style="width:100px;">Cuotas</th><th style="width:100px;">Pagos</th><th style="width:100px;">Frecuencia</th><th style="width:100px;">Interes %</th><th style="width:100px;">Mora %</th>

</thead>
<tbody>
<tr>
<td>
<% if params[:action] == "new" %>
  <%= select_tag "zone", options_from_collection_for_select(Zone.where(user_id: current_user.id), "id", "description"), prompt: '-- Seleccione -- ', "v-on:change" => "changeItem($event)"%>
<% else %>
<b>
<%= loan.po.zone.description %>
</b>

<% end %>
</td>
<td>
<% if params[:action] == "new" %>
 <%= form.select "po_id", raw('<option v-for="pos in pos_ar" :value="pos.id">{{ pos.description}}</option>')%>
<% else %>
<b>
<%= loan.po.description %>
</b>

<% end %>
</td>
<td>
<%= form.number_field :quanty, class:"form-control", placeholder:"$0.00" %>
</td>
<td>
<%= form.number_field :pays, class:"form-control" %>
</td>
<td>
<%= form.number_field :quotes, class:"form-control", placeholder:"$0.00" %>
</td>
<td>
  <%= form.select :freq,  [["Diario","1"],["Semanal","2"], ["Quincenal", "3"], ["Mensual", "4"]]%>

</td>
<td>
<%= form.number_field :int_p, class:"form-control" %>
</td>
<td>
<%= form.number_field :mora, class:"form-control" %>
</td>
</tr>
</tbody>
</table>






<center>
  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-warning", style:"margin:10px;" %>
    <%= link_to  "Cancelar", loans_path %>
  </div>

  </center>
<% end %>

</div>


<script>
var app = new Vue({
  el: '#app_loan',
  data: {

        pos_ar: [],
      
  },
  methods:
  {
     changeItem: function changeItem(event) 
     {
        axios
        .get('/api/getPOSZone/'+event.target.value)
        .then(response => (this.pos_ar = response.data.data))
     }
  },
  mounted()
  {
         
  }

})
</script>
