<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">
<%= link_to 'Crear Préstamo', new_loan_path, class:"float-right btn btn-primary", style:"margin:10px;" %>
<h4 style="margin:10px;">Préstamos</h4>
<div class="" style="width:100%; min-height:110px;color:white; background-color:#191b1c; border:solid 1px #eee; margin-top:15px;">
  <%= form_tag("/loan_q", :method => "get") do %><br>
    <div class="row" style="margin-left:10px;">
      <div class="col-md-2">
      <b>Préstamo No.:</b>
      <%= text_field_tag(:code, @code, class:"l", placeholder:"Codigo", style:"width:130px;") %>

      </div>

       <div class="col-md-2">
      <b>Estado:</b>
     <%= select_tag "status", raw("<option value='0'>Todos</option><option value='1'>Pendientes</option><option value='2'>Saldados</option><option value='3'>Rojo</option>")%>
  
      </div>
      <div class="col-md-2">
      <button type="submit" class="btn btn-info pull-right" style="margin-top:20px;">Buscar</button>
      </div>
    </div>
  <% end %>
</div>
</div>

<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">

<table id="table_report" class="display">
 <thead style="background-color:#191b1c; color:white;">
    <tr>
      <th>No.</th>
      <th>POS</th>
      <th>Prestado</th>
      <th>Pagos</th>
      <th>Interes %</th>
      <th>Frecuencia</th>
      <th>Mora %</th>
      <th>Cuotas </th>
      <th>Total Pagar</th>
      <th>Retrasos</th>
      <th>Subtotal</th>
       <th>Saldado</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| 
    interes = loan.int_p / 100.0 * loan.quanty
    total_pagar = loan.quanty + interes
    subtotal = total_pagar + loan.mora_acomulada
    saldado = loan.loanpays.sum(:amount) + loan.loanpays.sum(:amount_mora)
    %>
      <tr>
        <td><%= loan.id %></td>
        <td><a href="/pos/<%= loan.po.id %>"><%= loan.po.description %></a></td>
        <td style="text-align:right;"><%= number_to_currency(loan.quanty) %></td>
        <td style="text-align:right;"><%= loan.pays %></td>
        <td style="text-align:right;"><%= loan.int_p %>%</td>
        <td>
        <center>
        <% if loan.freq == "1" %>
        <span class="badge badge-danger">Diario</span>
        <% elsif loan.freq == "2"%>
        <span class="badge badge-danger">Semanal</span>
         <% elsif loan.freq == "3"%>
        <span class="badge badge-danger">Quincenal</span>
         <% elsif loan.freq == "4"%>
        <span class="badge badge-danger">Mensual</span>
        <% end %>

        </center>
        </td>
        <td style="text-align:right;"><%= loan.mora %>%</td>
        <td style="text-align:right;"><%= number_to_currency(loan.quotes) %></td>
        <td style="text-align:right;"><%= number_to_currency(total_pagar) %></td>
        <td style="text-align:right;"><%= number_to_currency(loan.mora_acomulada) %></td>
        <td style="text-align:right;"><%= number_to_currency(subtotal) %></td>
        <td style="text-align:right;"><%= number_to_currency(saldado) %></td>
      <td>
        <% if loan.status == 1%>
        <span class="badge badge-warning">Pendiente</span>
        <% elsif loan.status == 2 %>
        <span class="badge badge-info">Saldado</span>
        <% elsif loan.status == 3 %>
        <span class="badge badge-danger">Moroso</span>

        <% end %>
      </td>
      <td>
 <div class="dropdown">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-cog"></i>
  </button>
  <div class="dropdown-menu">
    <%= link_to 'Editar', edit_loan_path(loan), class: "dropdown-item" %>
    <%= link_to 'Ver detalle', loan, class:"dropdown-item" %>
  </div>
</div> 
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<script>
$("#table_report").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});
</script>


