<%
interes = @loan.int_p / 100.0 * @loan.quanty
total_pagar = @loan.quanty + interes
%>
<div class="row">
<div class="col-md-3">
<div class="" style="width:100%;  min-height:140px;color:#11ab09; background-color:white; border:solid 1px #eee; margin-top:15px;">
<center>
<br>
<h3><i class="fas fa-hand-holding-usd"></i></h3>
<h3><%= number_to_currency(total_pagar) %></h3>
<h6>Total</h6>
</center>
</div>
</div>

<div class="col-md-3">
<div class="" style="width:100%;  min-height:140px;color:#a80c0c; background-color:white; border:solid 1px #eee; margin-top:15px;">
<center>
<br>
<h3><i class="fas fa-file-invoice-dollar"></i></h3>
<h3><%= number_to_currency(@loan.mora_acomulada) %></h3>
<h6>Mora</h6>
</center>
</div>
</div>

<div class="col-md-3">

</div>

<div class="col-md-3"><br>
<h2>Préstamo #<%=@loan.id%></h2>
<h5 class="text-muted"><%=@loan.po.description%></h5>
<%
  fecha = @loan.created_at.to_s.split(" ")
%>
<span><%= fecha[0]%> a las <%= fecha[1]%></span>
</div>

<div class="col-md-12">
<div class="" style="width:100%; min-height:160px;color:white; background-color:white; border:solid 1px #eee; margin-top:15px;">
<h2 class="text-muted" style="margin-left:15px;">Estadistica de Pago </h2><hr>

<%= column_chart @loan.loanpays.group(:loan_id).group_by_week(:created_at).sum(:amount), prefix: "$" %>
</div>

</div>

<div class="col-md-8">
<div class="" style="width:100%; min-height:160px; background-color:white; border:solid 1px #eee; margin-top:15px;">
<h3 class="text-muted" style="margin-left:10px; margin-top:10px;">Pagos</h3><hr>
<table id="table_one">
<thead style="background-color:#191b1c; color:white;">
<th>No.</th><th>Monto Pagado</th><th>Mora Pagada</th><th>Balance</th><th>Fecha</th><th>Hora</th>
</thead>
<tbody>
<% @loan.loanpays.order("id DESC").each do |pays|
fecha = pays.created_at.to_s.split(" ")
%>
<tr>
<td><%= pays.id %></td>
<td style="text-align:center;">
<%= number_to_currency(pays.amount) %>
</td>
<td style="text-align:center;">
<%= number_to_currency(pays.amount_mora) %>
</td>
<td style="text-align:center;">
<%= number_to_currency(pays.balance) %>
</td>
<td>
<%= fecha[0]%>
</td>
<td>
<%= fecha[1]%>
</td>
</tr>
<% end %>
</tbody>
</table>

</div>
</div>

<div class="col-md-4">
<div class="" style="width:100%; min-height:160px; background-color:white; border:solid 1px #eee; margin-top:15px;">
<h3 class="text-muted" style="margin-left:10px; margin-top:10px;">Moras Generadas</h3><hr>
<table id="table_two">
<thead style="background-color:#191b1c; color:white;">
<th>No.</th><th>Monto</th><th>Estado</th>
</thead>
<tbody>
<% @loan.mora_logs.each do |mora|%>
<tr>
<td><%= mora.id%></td>
<td><%= number_to_currency(mora.amount) %></td>
<td>
<% if mora.status == 1 %>
<span class="badge badge-danger">Pendiente</span>
<%elsif mora.status == 2%>
<span class="badge badge-primary">Saldada</span>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>

</div>

<script>
$("#table_one").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});

$("#table_two").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});
</script>