    <style>
    .BG_GRAD{
    background: rgb(22,22,230);
  background: linear-gradient(90deg, rgba(22,22,230,1) 6%, rgba(40,40,40,1) 84%, rgba(111,13,163,1) 100%); 
}
    
    .pg-canvas{
      position:absolute !important;
    }

    .bh{
    }

    .cus_btn{
   background: rgb(255,100,0);
background: linear-gradient(90deg, rgba(255,100,0,1) 0%, rgba(148,101,38,1) 35%, rgba(0,0,0,1) 100%); 

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#sep a{
margin:15px !important;
}
    
    </style>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), id:"myForm") do |f| %>
<div id="fec" style="position:absolute;width:100%;height:100%;left:0;top:0;">
    <div class="bh" style="width:100%; 
 position:absolute; left:0;top:0;">
         <%= image_tag("aura4.svg", style:"width:450px; position:absolute; top:0;", class:"") %>

        <div class="row align-items-center py-12" id="neeur">
     
              <div class="col-md-4 px-lg-4" style="margin-left:10px; margin-top:250px;">
      
            <form id="loginForm" action="#" class="mt-4">
            <center>

              <div class="form-group mb-4" style="margin-left:20px;">

              <%= f.text_field :username, placeholder:"Usuario", class:"user_one form-control ", style:"width:230px;"  %>
              </div>
              <div class="form-group mb-4" style="margin-left:20px;">
                  <%= f.password_field :password, autocomplete: "current-password", placeholder:"Contraseña", class:"password_one form-control   text-violet", style:"width:230px;" %>
              </div>
              <div class="col-md-12" style="margin-left:10px;">
                            <button type="submit" id="enviar" class="btn btn-primary btn-block shadow  " style="background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); border-radius: 5px; width:230px;">LOGIN</button>

              </div>
              <div class="form-group mb-4">
<br>
                <div class="custom-control custom-checkbox">
                  <% if devise_mapping.rememberable? %>
                  <div class="field">
                  <%= f.check_box :remember_me, class:"custom-control-input" %>
                   <%= f.label :remember_me, "Remember me", class:"custom-control-label", style:"color:white;" %>

                  </div>
                  <% end %>
                </div>

              </div>
              </center>
            </form>

            
          </div>
          <div class="col-md-6" >
          <center>
            <%= image_tag("illus2.svg", class:"", style:"position:absolute;top:-210px; left:0px; width:1200px;  ") %>
          </center>
          
          </div>
    
        </div>
  




</div>

<% end %>

<script>
$(document).on("keydown", "form", function(event) { 
    return event.key != "Enter";
});

$('.user_one').select().focus();

$('.user_one').keydown(function (e) {
    if (e.which === 13) 
    {
       $('.password_one').focus();
    }
 });
//A
 $('.password_one').keydown(function (e) {
    if (e.which === 13) 
    {
       $("#enviar").click();
    }
 });

 $("#neeur").particleground({
   dotColor: 'rgba(111,13,163,1)',
    lineColor: '#0e0996'
 });
</script>
