<div class="row">

    <style>
.chart--container {
  height: 100%;
  width: 100%;
  min-height: 150px;
}
    </style>
    
    <div class="col-md-12">

    <h4 style="margin-top:10px;">Ingresos / Egresos</h4>
    <hr>

    </div>

    <div class="col-md-12">
		<div id="myChart" class="chart--container"></div>
    </div>


</div>


