
<center>
<br>
<div class="" style="width:50%; background-color:white; margin-top:;10px">
<br>
<h2 class="text-muted">Zonas - Agregar / Editar</h2>
<hr>

<%= form_with(model: zone, local: true) do |form| %>
  <% if zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <table class="table table-striped table-hover">
 <thead class="">
  <th>Descripcion</th>  <th>Estado</th>

  </thead>
  <tbody>
  <tr>
  <td>
      <%= form.text_field :description, class:"form-control", placeholder:"Nombre de la zona" %>

  </td>
    <td>
   <%= form.select :status, [["Activa","1"],["Inactiva","2"]], class:"form-control" %>

  </td>
  </tr>
  </tbody>
  </table>





  <div class="actions">
    <%= form.submit "Grabar", class:"btn btn-success" %>
    <%= link_to 'Cancelar', zones_path, class:"btn btn-danger" %>

  </div>
<% end %>


<br><br>
</div>
</center>