<div class="" style="width:100%; min-height:50px; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Zonas</h4>

<div class="" style="width:100%; min-height:60px;color:yellow; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<b class="float-left" style="margin-top:10px; margin-left:10px;">Crear / Editar - Zonas</b>
<div class="m1">
<%= link_to 'Crear zona', new_zone_path, class:"btn btn-primary float-right", style:"margin-right:10px; margin-top:10px;" %>
</div>
</div>
</div>

<div class="" style="width:100%;  background-color:white;">
<br>
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">

 <table class="display" style="width:100%" id="data_table" style="margin:10px;">
        <thead >
    <tr>
      <th>Code</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.id %></td>
        <td><%= zone.description %></td>
        <td>
        
        <% if zone.status == 1 %>
        <span class="badge badge-primary">Activa</span>
        <% else %>
        <span class="badge badge-danger">Desactivada</span>

        <% end %>

        </td>
        <td><%= link_to 'Editar', edit_zone_path(zone), class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</div>

<script>
$("#data_table").DataTable({

     "paging":   false,
        "ordering": true,
        "info":     false,
        "searching": false
});
</script>
