<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @zone.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zone.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @zone.status %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
