<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee; margin-top:10px;">
<h4 style="margin:10px;">Notificaciones</h4>
<div class="" style="width:100%; min-height:110px;color:yellow; background-color:#191b1c; border:solid 1px #eee; margin-top:10px;">
<h6 style="margin:10px;">Filtros</h6>
  <%= form_tag("/notify_q", :method => "get") do %>
<div class="row" style="margin-left:10px;">
<div class="col-md-2">
<b>Desde:</b>
        <%= text_field_tag(:desde, @desde, class:"form-control", placeholder:"00-00-0000", style:"", id: "desde") %>
</div>
<div class="col-md-2">
<b>Hasta:</b>
        <%= text_field_tag(:hasta, @hasta, class:"form-control", placeholder:"00-00-0000", style:"", id: "hasta") %>
</div>

<div class="col-md-2">
<b>Estado:</b>
  <%= select_tag "status", raw("<option value='0'>Todos</option><option value='1'>No vista</option><option value='2'>Vistas</option>")%>

</div>

<div class="col-md-2">
    <button type="submit" class="btn btn-info pull-right" style="margin-top:20px;">Filtrar</button>

</div>

</div>
  <% end %>
</div>
</div>

<br>
<div class="" style="width:100%; min-height:5em; background-color:white; border:solid 1px #eee;">
<h5 class="text-muted" style="margin-left:10px;margin-top:10px;">Listado</h5>
<table class="table table-stripped">
<thead>
<th>Code</th><th>Punto de Venta</th><th>Notificacion</th><th>Fecha</th><th>Hora</th><th>Estado</th><th></th>
</thead>
<tbody>
<% @result.each do |r| 
fecha = r.created_at.to_s.split(" ")
%>
<tr>
<td><%= r.id%></td>
<td>

<i class="fa fa-laptop"></i> <a href="/pos/show/<%= r.po.id%>"> <%= r.po.description %></a></td>

<td>
<% if r.type_n == "aproximidad" %>
<span class="badge badge-primary">Maquina abierta</span>
<% elsif r.type_n == "apagado" %>
<span class="badge badge-danger">Maquina apagada</span>
<% elsif r.type_n == "encendido" %>
<span class="badge badge-primary">Maquina encendida</span>
<% elsif r.type_n == "wifi_on" %>
<span class="badge badge-warning">Conexion a wifi exitosa</span>
<% elsif r.type_n == "wifi_off" %>
<span class="badge badge-danger">Se desconecto del wifi</span>
<% elsif r.type_n == "data_on" %>
<span class="badge badge-primary">Se conecto a la red de datos</span>
<% elsif r.type_n == "data_off" %>
<span class="badge badge-danger">Se desconecto del wifi</span>
<% elsif r.type_n == "location" %>
<span class="badge badge-warning">Localizacion encontrada</span>
<% end %>
</td>

<td>
<%= fecha[0]%>
</td>

<td>
<%= fecha[1]%>
</td>

<td>
<% if r.status == 1 %>
<span class="badge badge-danger">No vista</span>
<% else %>
<span class="badge badge-danger">Vista</span>
<% end %>

</td>
<td>
<%= link_to  "Ver", "show/"+r.id.to_s %>

</td>
</tr>
<% end %>
</tbody>
</table>
</div>

<script>

$("#desde").datepicker({format: "yyyy-mm-dd"});
$("#hasta").datepicker({format: "yyyy-mm-dd"});




</script>
