<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Mantenimientos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Marcas</li>
  </ol>
</nav>

<div class="card card-body bg-white">
<h2 class="text-muted">Marcas</h2>
<hr>

 <table class="table table-striped table-hover">
        <thead class="bg-red text-white">
    <tr>
      <th>Code</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.id %></td>
        <td><%= brand.description %></td>
         <td>
        
        <% if brand.status == 1 %>
        <span class="badge badge-primary">Activa</span>
        <% else %>
        <span class="badge badge-danger">Desactivada</span>

        <% end %>

        </td>
        <td><%= link_to 'Editar', edit_brand_path(brand),  class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="m1">

<%= link_to 'Crear Marca', new_brand_path, class:"btn btn-primary" %>

</div>

</div>
