<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @brand.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brand.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @brand.status %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
