<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Inventario</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categorias</li>
  </ol>
</nav>

<div class="card card-body bg-white">
<h2 class="text-muted">Categorias</h2>
<hr>


 <table class="table table-striped table-hover">
        <thead class="bg-red text-white">
    <tr>
      <th>Code</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.description %></td>
              <td>
        
        <% if category.status == 1 %>
        <span class="badge badge-primary">Activa</span>
        <% else %>
        <span class="badge badge-danger">Desactivada</span>

        <% end %>

        </td>
        <td><%= link_to 'Editar', edit_category_path(category), class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="m1">

<%= link_to 'Crear Categoria', new_category_path, class:"btn btn-primary" %>

</div>
</div>
