<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @category.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @category.status %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
