<p id="notice"><%= notice %></p>

<h1>Collectors</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collectors.each do |collector| %>
      <tr>
        <td><%= collector.user_id %></td>
        <td><%= collector.name %></td>
        <td><%= collector.phone %></td>
        <td><%= collector.address %></td>
        <td><%= collector.status %></td>
        <td><%= link_to 'Show', collector %></td>
        <td><%= link_to 'Edit', edit_collector_path(collector) %></td>
        <td><%= link_to 'Destroy', collector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collector', new_collector_path %>
