<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @collector.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @collector.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @collector.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @collector.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @collector.status %>
</p>

<%= link_to 'Edit', edit_collector_path(@collector) %> |
<%= link_to 'Back', collectors_path %>
