<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/products">Productos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar / Editar</li>
  </ol>
</nav>

<div class="card card-body bg-white col-md-12">
<h2 class="text-muted">Productos - Agregar / Editar</h2>
<hr>

<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
  <th>Tipo de Producto</th><th>Descripcion</th>  <th>Marca</th>  <th>Modelo</th> <th>Categoria</th><th>Estado</th> 

  </thead>
  <tbody>
  <tr>
    <td>
       <%= form.select :type_p, [["SIM CARD","1"],["MAQUINA","2"]], class:"form-control" %>

    </td>
    <td>
    <%= form.text_field :description %>
    </td>

  <td>
  <%=
    form.collection_select(
    :brand_id, 
    Brand.where(user_id: current_user.id), 
    :id,
    :description, 
    :prompt => true # then you can specify some params. You can find them in the docs.
    )
  %>
  </td>


  <td>
  <%=
    form.collection_select(
    :modelo_id, # field name
    # result of these two params will be: <select name="post[author_id]">...
    Modelo.where(user_id: current_user.id), 
    :id, # this is name of method that will be called for every row, result will be set as key
    :description, # this is name of method that will be called for every row, result will be set as value
    :prompt => true # then you can specify some params. You can find them in the docs.
    )
  %>

    </td>


        <td>

             <%=
    form.collection_select(
    :category_id, 
    Category.where(user_id: current_user.id), 
    :id, 
    :description, 
    :prompt => true
    )
  %>

    </td>

        <td>
   <%= form.select :status, [["Activo","1"],["Inactivo","2"]], class:"form-control" %>

  </td>


  </tr>
  </tbody>

  </table>




  <div class="actions">
    <%= form.submit "Grabar", class:"btn btn-success" %>
    <%= link_to 'Cancelar', products_path, class:"btn btn-danger" %>

  </div>
<% end %>

</div>

<script>
$("select").select2({width: 160});
</script>

