<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="#">Inventario</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</nav>


<div class="card card-body bg-white">

  <%= form_tag("/products_q", :method => "get") do %>

<h6>Filtro</h6><hr>
   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
 <th>Code</th>  <th>Tipo de Producto</th>  <th>Marca</th><th></th>

  </thead>
  <tbody>

  <tr>
  <td>
  
        <%= text_field_tag(:code, @code, class:"form-control", placeholder:"Codigo", style:"width:150px;") %>

  </td>
  <td>
  <%= select_tag "type_p", raw("<option value='1'>SIM CARD</option><option value='2'>MAQUINAS</option>")%>
  
  </td>
  <td>
        <%= select_tag "brand_id", options_from_collection_for_select(@brands, "id", "description"), prompt: 'Todas'%>

  </td>
  <td>
    <button type="submit" class="btn btn-info pull-right" style="margin-top:0px;">Filtrar</button>

  </td>
  </tr>


  </tbody>

  </table>


<% end %>

</div><br>

<div class="card card-body bg-white">
<h2 class="text-muted">Productos</h2>
<hr>

 <table class="table table-striped table-hover">
        <thead class="bg-red text-white">
    <tr>
      <th>Code</th>
      <th>Descripcion</th>
      <th>Tipo de Producto</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Categoria</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.description %></td>
          <td>
        
        <% if product.type_p == 1 %>
        <span class="badge badge-primary">SIM CARD</span>
        <% else %>
        <span class="badge badge-info">MAQUINAS</span>

        <% end %>

        </td>
        <td><%= product.brand.description %></td>
        <td><%= product.modelo.description %></td>
        <td><%= product.category.description %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Agregar Producto', new_product_path %>

</div>


<script>
$("select").select2({width: 160});
</script>


