<style>

    .panel_contrainer
    {
        position:absolute;
        width:95%;
        height:90%;
        left:1;
        margin-right:10px;
        background-color:white;
    }



      a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}


.tools_pos{

    position:absolute;
    width:250px;
    height:80%;
    right:0;
    margin-right:50px;
    margin-top:20px;
   
    background-color:transparent;

    border-radius:10px;

}

.tools_pos_machine
{
    position:relative;
    width:100%;
    min-height:40%;


   
    background-color:white;

    border-radius:10px;

}

.tools_pos_location
{
    position:relative;
    width:100%;
    min-height:20%;
    top:4%;
    background-color:white;

    border-radius:10px;

}

.tools_pos_commands{
 position:relative;
    width:100%;
    min-height:20%;
    top:7%;
    background-color:white;
    border-radius:10px;

}

.header_h
{
    position:relative;
    width:100%;
    height:40px;
    background-color:#191b1c;
     color:yellow;

     -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
    
}


#mq{
    margin-left:15px;
    margin-right:10px;
    margin-top:10px;
}

#mqbody td{
    display:inline !important;
    margin:15px !important;

}

#mqbody tr{
        display:inline !important;

    margin:5px;
}
</style>
<div class="how">
<div class="panel_contrainer" id="panel_contrainer">

</div>

<div class="tools_pos">

<div class="tools_pos_machine">
<div class="header_h">

<b style=" position:absolute;margin-top:10px !important; left:32%;">Maquina</b>

</div>
<center><br>
<b>POS</b><br>
        <%= select_tag "pos_id", options_from_collection_for_select(@pos, "id", "description"), prompt: 'Ninguno', id: "prueba"%>
</center>
<table id="mq">
<thead>
<th><thead>
</thead>
<tbody id="mqbody">
<tr >
<td ><b>PV:</b></td><td id="pv">...</td>
</tr>

<tr>
<td><b>Status:</b></td><td id="status"><i class="fa fa-circle" style="color:#edaa00; float:left;"></i>None</td>
</tr>

<tr>
<td><b>Activa:</b></td><td id="activa">None</td>
</tr>

</tbody>
</table>
<center>
<br>
    <button type="button" class="btn btn-info pull-right" id="filter_pos" style="margin-top:0px;">Filtrar</button>

</center>



</div>

<div class="tools_pos_location">

<div class="header_h">
<center>

<b style=" position:absolute;margin-top:10px !important; left:8%;">Última posicion conocida</b>

</center>
</div>

<table class="table">
<thead>
<th>Longitud</th>
<th>Latitud</th>
</thead>

<tbody>
<tr>
<td id="long_edit">0.0000</td><td id="lat_edit">-0.00000</td>
</tr>
</tbody>
</table>

</div>


<div class="tools_pos_commands">

<div class="header_h">
<center>
<b>Comandos</b>
</center>
</div>
<center><br>
<b>Comandos</b>
<%= select_tag "command", raw("<option value='1'>POWER OFF</option><option value='2'>POWER ON</option><option value='3'>LOCATION</option>")%>
<button type="button" class="btn btn-danger pull-right" id="envio_command" style="margin-top:5px;">ENVIAR</button>

</center>


</div>

</div>

</div>

 <script>
      var map;
      var send = false;
      window.p_id = 0;
      function initMap() {
        map = new google.maps.Map(document.getElementById('panel_contrainer'), {
          center: {lat: 18.735693, lng: -70.1626511},
          zoom: 5,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: true,
            fullscreenControl: false
        });
      }

      $("select").select2({width: 180});

      $("#filter_pos").click(function(){
           $.amaran({
                content:{
                title:'CONSULTADO....',
                message:'Espere por favor',
                info:"Solicitud Enviada",
                icon:'fa fa-clock'
                },
                theme:'awesome ok',
                'position'  :'top right'
                });

          $.get( "/api/getControls/"+$("#prueba").val(), function( data ) {
            
            if(data.c == "00")
            {
                 $.amaran({
                content:{
                title:'Verificado',
                message:'Proceso Exitoso',
                info:data.m,
                icon:'fa fa-check-circle'
                },
                theme:'awesome ok',
                'position'  :'top right'
                });

                $("#pv").text(data.data[0].id);
                $("#long_edit").text(data.data[0].longi);
                $("#lat_edit").text(data.data[0].lati);
                send = true;
                window.p_id = data.data[0].id;
                var myLatLng = {lat: parseFloat(data.data[0].lati), lng: parseFloat(data.data[0].longi)};


                //setiando mapa
                var center = new google.maps.LatLng(data.data[0].lati, data.data[0].longi);
                map.panTo(center);

                 var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Ubicado aqui'
                });
                
                if (data.data[0].status_ == "1") {
                    $("#status").html('<i class="fa fa-circle" style="color:#08e300; float:left;"></i>Encendida');
                } else {
                    $("#status").html('<i class="fa fa-circle" style="color:#bf1600; float:left;"></i>Apagada');

                }

                var sp = data.data[0].last.split("T");
                $("#activa").text(sp[0]);



            }else{
                $.amaran({
                content:{
                title:'Error',
                message:'Seleccione su POS',
                info:data.m,
                icon:'fa fa-dollar-sign'
                },
                theme:'awesome ok',
                'position'  :'top right'
                });
            }
            //alert(data.cod);
          });

      });

      $("#envio_command").click(function(){
        if (send) {
            //Enviar
            if($("#command").val() == "1")
            {

                $.get( "/api/shutdown/"+window.p_id, function(data) {

                    if(data.c == "00")
                    {

                          $.amaran({
                            content:{
                            title:'Excelente',
                            message:'Comando enviado con exito',
                            info:data.m,
                            icon:'fa fa-check-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });

                    }else if(data.c == "15")
                    {
                        $.amaran({
                            content:{
                            title:'Opps',
                            message:'La referencia vinculada, no es correcta',
                            info:data.m,
                            icon:'fa fa-times-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });
                    }else{
                        
                        $.amaran({
                            content:{
                            title:'Opps',
                            message:'Estamos teniendo problema internos',
                            info:data.m,
                            icon:'fa fa-times-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });

                    }

                });

            }else if($("#command").val() == "2")
            {
                    $.get( "/api/poweron/"+window.p_id, function(data) {

                    if(data.c == "00")
                    {

                          $.amaran({
                            content:{
                            title:'Excelente',
                            message:'Comando enviado con exito',
                            info:data.m,
                            icon:'fa fa-check-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });

                    }else if(data.c == "15")
                    {
                        $.amaran({
                            content:{
                            title:'Opps',
                            message:'La referencia vinculada, no es correcta',
                            info:data.m,
                            icon:'fa fa-times-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });
                    }else{
                        
                        $.amaran({
                            content:{
                            title:'Opps',
                            message:'Estamos teniendo problema internos',
                            info:data.m,
                            icon:'fa fa-times-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });

                    }

                });

            }else if($("#command").val() == "3")
            {

                $.get( "/api/getLocation/"+window.p_id, function(data) {

                    if(data.c == "00")
                    {

                          $.amaran({
                            content:{
                            title:'Excelente',
                            message:'Comando enviado con exito',
                            info:data.m,
                            icon:'fa fa-check-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });

                    }else if(data.c == "15")
                    {
                        $.amaran({
                            content:{
                            title:'Opps',
                            message:'La referencia vinculada, no es correcta',
                            info:data.m,
                            icon:'fa fa-times-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });
                    }else{
                        
                        $.amaran({
                            content:{
                            title:'Opps',
                            message:'Estamos teniendo problema internos',
                            info:data.m,
                            icon:'fa fa-times-circle'
                            },
                            theme:'awesome ok',
                            'position'  :'top right'
                            });

                    }

                });

            }
        }else{
            //Notificar error
              $.amaran({
                content:{
                title:'Opps',
                message:'No fue posible enviar comando',
                info:"Seleccione primero un POS",
                icon:'fa fa-times-circle'
                },
                theme:'awesome ok',
                'position'  :'top right'
                });
        }
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPnrvcjS1ZSJ8UIvS_4O-Crum13A-x2Dk&callback=initMap"
    async defer></script>