<nav aria-label="breadcrumb ">
  <ol class="breadcrumb bg-black">
    <li class="breadcrumb-item"><a href="/repairs">Reparaciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agregar / Editar</li>
  </ol>
</nav>

<div class="card card-body bg-white col-md-12">
<h2 class="text-muted">Reparaciones</h2>
<hr>

<%= form_with(model: repair, local: true) do |form| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <table class="table table-striped table-hover">
 <thead class="" style="background-color:#191b1c; color:yellow;">
    <th>Punto de Venta</th><th>Motivos</th>
  </thead>

  <tbody>
  <tr>
  <td>
    <%=
    form.collection_select(
    :po_id, 
    Po.where(user_id: current_user.id).where(status: 1), 
    :id,
    :description, 
    :prompt => false
    )
  %>
  </td>
  <td>
  <%= form.text_field :description %>
  </td>
  </tr>
  </tbody>
  </table>
  <div class="field">
    
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-primary float-left" %>
    <%= link_to  "Cancelar", repairs_path, class:"btn btn-danger" %>
  </div>
<% end %>



</div>

<script>

$("select").select2({width: 250});
</script>