<div style="width:100%; min-height:70px; background-color:white;margin-top:-20px;">
<h3 class="float-left" style="margin-left:10px; margin-top:20px;">Máquinas en Reparación</h3>
<hr>
</div>



<div class="row">
    <% @repairs.each do |repair| %>
     <div class="card card-body col-md-3" style="margin:10px;">

     <center>
      <i class="fa fa-laptop" style="font-size:27px;"></i><br><br>
        <a href="/pos/<%=repair.po_id%>"><h6><%=repair.po.description%></h6></a><br>
          <%= link_to 'Produccion', repair, method: :delete, data: { confirm: '¿Seguro que desea por maquina devuelta a produccion?' }, class:"btn btn-danger" %>
   
     </center>
        

     
     </div>
    <% end %>


<br>

<div class="card card-body col-md-3 " style="margin:10px; cursor:pointer;" id="add_r">
<center>
<i class="fa fa-plus" style="font-size:68px; margin-top:15px;"></i>
</center>
</div>

</div>


<script>
$("#add_r").click(function(){
window.location = "repairs/new";
});
</script>