<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @repair.user_id %>
</p>

<p>
  <strong>Po:</strong>
  <%= @repair.po_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair.description %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
