<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @warehouse.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @warehouse.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @warehouse.status %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
