<!DOCTYPE html>
<html>

  <head>
    <title>Aura Systems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,800">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  

 <% if user_signed_in?  %>

  <body data-no-turbolink="true" style="background-color:#eee;">

  <% else %>

    <body data-no-turbolink="true" style="background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);">

  <% end %>

  <% if user_signed_in? %>

     <%=render partial:'layouts/Parts/header' %>

  <% end %>


    <% if user_signed_in? && current_user.level == 1 %> 

      <%=render partial:'layouts/Parts/menu2' %>

  <% end %>
    <div class="d-flex align-items-stretch">

      <% if user_signed_in? %>
      <% if current_user.level == 3 %>
       <div class="page-holder w-100 d-flex flex-wrap" style="margin-top:10px; background-color:white;">
      <% elsif current_user.level == 4 %>
       <div class="page-holder w-100 d-flex flex-wrap" style="margin-top:10px;   background-image: url(bgh.jpg);">
      <%else%>
       <div class="page-holder w-100 d-flex flex-wrap" style="position: relative;margin-top:100px; background-color:white; min-height:100px; ">
      <%end%>
      <%end %>
        <div class="container-fluid px-xl-12">
        <section class="py-1">
      <%= yield %>
      </section>
        </div>
        </div>
        
  </div>

  </body>
</html>

<script>
// Show full page LoadingOverlay Admin
/*
  Administracion
*/
$("body").LoadingOverlay("show", {
    image       : "",
    fontawesome : "fa fa-circle-notch fa-spin text-primary"
});

//Ocultando el cargando
setTimeout(function(){
    $("body").LoadingOverlay("hide");

}, 500);

/*

$("body").overhang({
  type: "confirm",
  primary: "#40D47E",
  accent: "#27AE60",
  yesColor: "#3498DB",
  message: "(Desea mostrar mapa?)",
  overlay: true,
  callback: function (value) {
    
 }

}); 

*/


jQuery.browser = {
    msie: false,
    version: 0
};

/*
maxi = 0;
var luz = setInterval(function(){ 
$("body").css("filter","brightness("+maxi+"%)");
if(maxi == 100)
{
  clearInterval(luz);
  maxi = 0;
}
maxi += 4;
},
 100);
*/
</script>

<!--
-->
<script type="text/javascript">
/*

  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5d9ca3546c1dde20ed059a33/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();

*/

$( window ).scroll(function() {
  if($(this).scrollTop() == 0){
    $( "#sidebar" ).css( "margin-top", "71px" );    
  }else{
    $( "#sidebar" ).css( "margin-top", "0px" );
  }
});

</script>
